/* General Settings */
* {
    margin: 0;
    padding: 0;
}
body {
    background: #333;
    font: 62.5% Arial, sans-serif;
    color: #000;
}
img {
    border: 0;
}
p {
    padding: 5px 0;
    text-align: justify;
}
/* Tables */

.forum,
.forum tr,
.forum th,
.forum td {
    border: 1px solid #333;
    border-collapse: collapse;
}
.forum {
    width: 100%;
    background: url('../images/layout/sidebar.png') repeat-x;
}
.forum th {
	height: 25px;
    padding: 0 2px;
    font-size: 1.1em;
    line-height: 25px;
    color: #fff;
}
.forum td {
	padding: 1px 2px;
    text-align: center;
}

/* Hyperlinks */
a, a:link, a:hover {
    color: #000;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
/* Lists */
ul, ol {
    margin: 10px 20px;
}
ul ul, ol ol {
    margin: 0 20px;
}
dl {
    text-align: left;
}
/* Headings */
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.1em;
}
/* Layout */
#box {
    width: 95%;
    margin: 1% auto;
    padding: 0 1%;
    background: #fff;
    border: 2px solid #ccc;
}
#header {
    height: 100px;
    padding: 0 8px;
    background: url('../images/layout/header.png') repeat-x 0 70px;
    position: relative;
}
#clansuite_title, #date_right {
    height: 70px;
    line-height: 70px;
}
#clansuite_title {
    font-size: 2em;
}
#navigation {
    margin: 0;
    list-style: none;
    position: absolute;
    top: 73px;
    left: 8px;
}
#navigation li {
    margin-right: 4px;
    float: left;
}
#navigation li a {
    height: 25px;
    margin: 1px 1px 0 1px;
    padding: 0 8px;
    font: 1.4em/25px 'Trebuchet MS', Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
}
#navigation li a:hover {
    margin: 0;
    background: #eab2b2;
    border: 1px solid #000;
    color: #000;
}
#navigation li a:active, #navigation li a.selected {
    margin: 0;
    background: #fff;
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    color: #000;
}
#breadcrumb {
    height: 25px;
    margin: 10px 0 0;
    padding: 1px 8px 0;
    background: #fff url('../images/layout/breadcrumb.png') repeat-x;
    font: bold 1.3em/25px 'Trebuchet MS', Arial, sans-serif;
    clear: both;
}
#breadcrumb span {
    color: #f00;
}
#content {
    margin: 10px 300px 10px 0;
    font-size: 1.2em;
}
#sidebar {
    width: 290px;
    margin-bottom: 10px;
    float: right;
    font-size: 1.2em;
}
#sidebar h3 {
    padding-left: 5px;
    background: url('../images/layout/sidebar.png') repeat-x;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
}
#sidebar h3 a, #sidebar h3 a:hover {
    color: #fff;
    text-decoration: none;
}
#sidebar div.content {
    padding: 5px;
    background: url('../images/layout/sidebar.png') repeat-x 0 -26px;
    font-size: 1.1em;
}
#sidebar .content .datepicker_inline {
	margin: 0 47.5px;
}
#counter ul {
    margin: 0;
    list-style: none;
}
#counter ul ul {
    margin: 0 10px;
}
#footer {
    padding: 10px 8px;
    background: url('../images/layout/footer.png') repeat-x;
    font: bold 1em 'Trebuchet MS', Arial, sans-serif;
    color: #f00;
    text-align: center;
    letter-spacing: 0.1em;
    clear: both;
}
/* AJAX Progress Indicator */
#ajax-bar {
    width: 100%;
    height: 20px;
    margin: 0;
    background: #ff9;
    font: bold 1.3em/20px Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    display: none;
    z-index: 99;
    vertical-align: middle;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* Forms */
/*
form {
    text-align: center;
}
*/
label {
    cursor: pointer;
}
dt label, dt span {
    font-weight: bold;
}
dt label:hover {
    color: #f00;
}
fieldset {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border: 0;
    text-align: left;
}
legend {
    padding: 1px 5px;
    background: #fff;
    border: 1px solid #333;
    font-weight: bold;
}
fieldset dd input, fieldset dd textarea {
    width: 100%;
}
fieldset dd textarea {
    overflow: auto;
}
.button {
    padding: 1px 7px;
    background: #e5e5e5;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
}
.button:hover {
    background: #eee;
    color: #f00;
    text-decoration: none;
}
.form_bottom {
    margin-top: 5px;
    text-align: center;
}
/* Usercenter */
.usercenter {
    text-align: center;
}
.usercenter ul {
    list-style: none;
}
/* Shoutbox */
.shoutbox {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #333;
}

.shoutbox-form {
    text-align: center;
}

.shoutbox .shout-header {
    padding: 2px;
    background: #f00;
    border-bottom: 1px solid #333;
    color: #fff;
}

.shoutbox .shout-content {
    padding: 2px;
}

/* Redirect */
.redirect_message
{
    background-color: #e3e3e3;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#redirect_heading
{
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: #ccc;
    border: 1px solid #000;
    text-align: center;
}
/* Userslist */
#userslist .nick-rank {
	text-align: left;
}
#userslist .nick-rank span, #userslist .nick-rank span {
	float: right;
}

/* News */
.newsbox {
    margin-bottom: 10px;
    border: 1px solid #333;
    background: url('../images/layout/sidebar.png') repeat-x;
}
.news-cat-img {
    float: left;
}
.news-head {
	height: 25px;
    padding: 0 5px;
    border-bottom: 1px solid #333;
    color: #fff;
    line-height: 25px;
}
.news-author-comments {
    padding: 0 5px;
    border-bottom: 1px solid #333;
}
.news-content {
    padding: 5px;
}

/* Messenger */

.message_buttons {
    text-align: right;
}
.message_menu{
    border: 1px solid #333;
}
.message_date {
}
.message_headline {
}
.message_selections {
}
.message_new {
}
.message_old {
}

.input_text
{
    border: 1px solid black;
    height: 13px;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

.ajax_input_text input,
.ajax_input_text textarea
{
    border: 1px solid black;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

form select.input_text
{
    height: auto;
}

.input_textarea
{
    border: 1px solid black;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

.tr_row1 td
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.tr_row2 td
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.td_header
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    background: url(../images/td_header.gif) repeat-x;
}

.tr_header td,
.tr_header th
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    background: url(../images/td_header.gif) repeat-x;
}

.tr_header_small td
{
    background: #D5CCBB;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 2px;
    padding-left: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}

.td_header_small
{
    background: #D5CCBB;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 2px;
    padding-left: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}

.cell1
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.cell2
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.cell3
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 0px;
    cursor: default;
}

.profile
{
    float: left;
    width: 100%;
}

.profile .general .picture_infos,
.profile .general .personal_infos,
.profile .general .location,
.profile .general .miscellaneous
{
    vertical-align: top;
    float: left;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.profile .general .personal_infos,
.profile .general .location,
.profile .general .miscellaneous
{
    border: 1px solid lightgrey;
}

.profile .general .picture_infos,
.profile .general .location
{
    clear: left;
    width: 300px;
}

.profile .general .miscellaneous,
.profile .general .personal_infos
{
    clear: right;
}

.profile .general .picture
{
    border: 1px solid black;
    width: 150px;
    margin: auto;
}

.profile .general .nick
{
    font-size: 20px;
    font-weight: bold;
    font-family: tahoma;
    height: 30px;
    width: 100%;
    text-align: center;
    color: #f00;
}

.profile .general .country_picture
{
    width: 16px;
    height: 11px;
    margin: auto;
}

.profile .general dl
{
    padding: 10px;
}

.profile .general dt
{
    font-weight:bold;
    float:left;
    clear:left;
    padding: 5px;
}

.profile .general dl dt
{
    width: 80px;

}

.profile .general dl dd
{
    padding: 5px;
    width:300px;
}

.profile .general .not_specified
{
    font-style: italic;
}

.profile .general .edit_button
{
    clear: both;
}

.profile .general .box_heading
{
    padding: 0;
    /*margin: -10px 10px 10px -10px;*/
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    text-align: center;
    background-color: #f00;
    color: #fff;
}

.profile .general .options
{
    clear: both;
    margin: 10px;
    padding: 5px;
    border: 1px solid lightgrey;
}

.guestbook {
    width: 100%; /* Workaround für Bug im IE6 */
    float: left;
}
.guestbook .paginate {
    height: 25px;
    padding: 0 3px;
    background: url('../images/layout/sidebar.png') repeat-x;
    border: 1px solid #000;
    line-height: 25px;
}
.guestbook .paginate .description {
    text-align: left;
    float:left;
    color: #fff;
}
.guestbook .paginate .size {
    float: right;
    color: #fff;
}
.guestbook .paginate .img {
    vertical-align: middle;
    height: 16px;
    width: 16px;
}
.guestbook .paginate .inline_text {
    vertical-align: middle;
}
.guestbook .options-top {
    border: 1px solid #000;
    border-width: 0 1px 1px 1px;
}
.guestbook .options-bottom {
    border: 1px solid #000;
    border-width: 1px 1px 0 1px;
}
.gb {
    width: 80%;
    margin: 10px auto;
    background: url('../images/layout/sidebar.png') repeat-x;
    border: 1px solid #333;
}
.gbhead {
	height: 25px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    border-bottom: 1px solid #333;
}
.author {
    width: 200px;
    float: left;
    text-align: center;
}
.message {
    margin-left: 200px;
    text-align: center;
}
.gbleft {
    max-width: 200px;
    width: 190px;
    padding: 5px;
    border-right: 1px solid #333;
    float: left;
}
.gbleft span {
    font-weight: bold;
}
.gbleft span.user-info {
    font-weight: normal;
    cursor: help;
}
.gbleft span.user-info:hover {
    color: #f00;
}
.gbright {
    margin-left: 200px;
    padding: 5px;
    border-left: 1px solid #333;
}
.gbright fieldset {
    width: 90%;
    margin-top: 10px;
    border: 1px dotted #333;
}
.gbfooter {
    height: 25px;
    background: #e5e5e5;
    line-height: 25px;
    border-top: 1px solid #333;
    text-align: right;
    clear: both;
}

.user_gb
{

}

.user_gb .gb_empty .the_text
{

}

.user_gb .gb_empty .options
{
    margin-top: 10px;
}

.user_gb .center
{
    margin: auto;
    text-align: center;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: left;
}

.user_gb .picture_infos,
.user_gb .personal_infos
{
    vertical-align: top;
    float: left;
    height: 150px;
    margin-bottom: 10px;
}

.user_gb .message
{
    vertical-align: top;
    float: left;
    height: auto;
    margin-bottom: 10px;
}

.user_gb .personal_infos,
.user_gb .message
{
    border: 1px solid lightgrey;
}

.user_gb .picture_infos
{
    clear: left;
    width: 250px;
}

.user_gb .personal_infos
{
    width: 440px;
}

.user_gb .message
{
    margin-left: 0px;
    width: 100%;
    clear: left;
}

.user_gb .message .the_text
{
    margin: 10px;
}

.user_gb .personal_infos
{
    clear: right;
}

.user_gb .picture
{
    margin: auto;
}

.user_gb .picture .the_pic
{
    border: 1px solid black;
}

.user_gb .nick
{
    font-size: 20px;
    font-weight: bold;
    font-family: tahoma;
    height: 30px;
    width: 100%;
    text-align: center;
    color: #f00;
}

.user_gb .country_picture
{
    width: 16px;
    height: 11px;
    margin: auto;
}

.user_gb dl
{
    padding: 5px;
}

.user_gb dt
{
    font-weight:bold;
    float:left;
    clear:left;
    /*padding: 5px;*/
}

.user_gb dl dt
{
    width: 60px;

}

.user_gb dl dd
{
    width:390px;
}

.user_gb .comment
{
    border-top: 1px solid black;
}

.user_gb .comment dd
{
    width:690px;
}

.user_gb .not_specified
{
    font-style: italic;
}

.user_gb .edit_button
{
    clear: both;
}

.user_gb .box_heading
{
    padding: 0;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    text-align: center;
    background-color: #f00;
    color: #fff;
}

.user_gb .options
{
    clear: both;
    padding: 5px;
    border: 1px solid lightgrey;
}

.user_gb .paginate
{
    background-color: #f00;
    border: 1px solid #000;
    padding: 3px;
    height: 20px;
}
.user_gb .paginate .description
{
    text-align: left;
    float:left;
    color: #fff;
}

.user_gb .paginate .size
{
    float: right;
    color: #fff;
}

.user_gb .paginate .img
{
    vertical-align: middle;
    height:16px;
    width:16px;
}

.user_gb .paginate .inline_text
{
    vertical-align: middle;
}

.user_gb .divider
{
    clear: left;
}