<style type="text/css">
<!--
.Stil1 {color: #FF0000}
-->
</style>
{move_to target="pre_head_close"}
{literal}
<style type="text/css">
body { margin: 1em; padding: 0; background: #F1EFE2; color: #000000; font-family: georgia, tahoma, verdana; font-size: 11px; cursor: default; }
h1 { font-size: 13px; font-weight: bold; margin: 0; }
h2 { font-size: 12px; font-weight: bold; margin: 1em 0; }
.hr { font-size: 0px; border-width: 1px; border-color: #aca899; border-style: solid none none none; margin-top: 2px; margin-bottom: 2px; }
p { margin: 1em 0; }
b { color: #909090; }
a { color: #316ac5; text-decoration: none; }
a:hover { color: #316ac5; text-decoration: underline; }
#contents div { margin-left: 2em; padding-top: 1px; }
dl { margin: 1em 0; }
dt { font-size: 11px; color: #666666; font-weight: bold; margin: 1em 0; }
dd { margin: 1em 0 1em 2em; }
i {}
</style>
{/literal}
{/move_to}

<h2>Adminmen&uuml; Manager - Hilfe</h2>
<div id="contents">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><a href="#infos">1.1 Infos</a></td>
  </tr>
  <tr>
    <td><a href="#edit">1.2 Men&uuml;eintr&auml;ge - Editieren</a></td>
  </tr>
  <tr>
    <td><a href="#save">1.3 Adminmen&uuml; - Speichern &amp; &Uuml;bernehmen</a></td>
  </tr>
  <tr>
    <td><a href="#load">1.4 Adminmen&uuml; - Laden &amp; Zur&uuml;cksetzten</a></td>
  </tr>
  <tr>
    <td><a href="#export">1.5 Adminmen&uuml; - Exportieren</a></td>
  </tr>
</table>

<br/>
  <p><strong>1.1 Infos</strong><a name="infos" id="infos"></a></p>
  <blockquote>
    <p>Es gibt 2 Arten von Men&uuml;punkten, die Documents und die Folder.<br/>
    Die &quot;Folder&quot; stellen die Oberpunkte eines Men&uuml;s dar,<br/>die &quot;Documents&quot; sind die Links zu den eigentlichen Aktionen.</p>
  </blockquote>
  <p><strong>1.2 Men&uuml;eintrage - Editieren</strong><a name="edit" id="edit"></a></p>
  <blockquote>
    <p>Um einen Men&uuml;eintrag zu editieren w&auml;hlt man den gew&uuml;nschten Eintrag aus und klickt auf das <img src="../images/info.gif" width="20" height="20" align="absbottom" />.<br/>
      Nun bekommt man alle Informationen zu diesem Men&uuml;punkt und kann diese ver&auml;ndern.<br/>
      Sobald man mit den &Auml;nderungen an diesem Folder fertig ist MUSS man auf &quot;Update Details&quot; klicken um die &Auml;nderungen zu speichern.<br/>
    Zum abbrechen oder zum Verwerfen der &Auml;nderung gibt es den &quot;Cancel &amp; Leave Details&quot; Button.</p>
  </blockquote>
  <p><strong>1.3 &Auml;nderungen am Adminmen&uuml; - Speichern &amp; &Uuml;bernehmen</strong><a name="save" id="save"></a></p>
  <blockquote>
    <p>Wenn alle &Auml;nderungen am Adminmen&uuml; beendet sind m&uuml;ssen die Daten noch &uuml;bernommen werden, dazu sind 2 einfache Schritte erforderlich.</p>
    <p>1.3.1 &quot;Generate Menu&quot;<br/>Um das neue Adminmen&uuml; zu generieren.</p>
    <p>      1.3.2 &quot;Update the Adminmenu&quot;<br/>Um das neue Adminmen&uuml; anzuwenden.</p>
    <p>Nun sollte das neue angepasste Adminmen&uuml; verwendet werden k&ouml;nnen.</p>
  </blockquote>
  <p><strong>1.4 Adminmen&uuml; - Laden &amp; Zur&uuml;cksetzten</strong><a name="load" id="load"></a></p>
  <blockquote>
    <p>1.4.1 Laden<br/>
    Um ein vorgefertigtes Men&uuml; zu laden hat man 2 M&ouml;glichkeiten.</p>
    <p>M&ouml;glichkeit A<br/>
      Man w&auml;hlt aus der Liste eines der schon vorhandenen Men&uuml;s aus und klickt auf &quot;Load Menu&quot;</p>
    <p>M&ouml;glichkeit B<br/>
    Man w&auml;hlt die Men&uuml;datei auf seinem Computer aus und l&auml;d diese hoch, danach kann das Men&uuml; wie gewohnt in der Liste ausgew&auml;hlt werden.</p>
    <p>1.4.2 Zur&uuml;cksetzten<br/>
    Um das letzte Adminmen&uuml; auf die Standarteinstellungen zur&uuml;ck zu setzten klickt einfach auf &quot;Reset Adminmenu to Defaults&quot;.<br/>
    <span class="Stil1">Hierbei gehen alle &Auml;nderungen am Men&uuml; verloren. Ein vorheriges Speichern des Men&uuml;s wird empfohlen.</span></p>
  </blockquote>
  <p><strong>1.5 Adminmen&uuml; -   Exportieren</strong><a name="export" id="export"></a></p>
  <blockquote>
    <p>  Um euer Adminmen&uuml; zu exportieren (oder um ein Backup zu erstellen) klickt man einfach auf &quot;Export Menu&quot; und sofort kann man die Man&uuml;datei herunterladen.</p>
  </blockquote>
</div>
