# This is a ".htaccess" template for Clansuite
# SVN: $Id$

# Don't show directory listings for URLs which map to a directory.
DirectoryIndex index.php
# Follow symbolic links in this directory.
Options +FollowSymLinks
Options -Indexes
SetEnv TZ Europe/Berlin

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule !\.(js|ico|gif|jpg|png|css)$ /index.php [QSA,L]
</IfModule>

# disable direct access to database, config, text, log and template files
<FilesMatch "\.(txt|log|tpl|sql|xml|ini)$">
order allow,deny
deny from all
</FilesMatch>

<IfModule mod_php5.c>
    php_value magic_quotes_runtime  "0"
    php_value magic_quotes_gpc      "0"
    php_value register_globals      "Off"
    php_value output_buffering      "1"
    php_value output_handler        ob_gzhandler
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
    SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary
    # webfonts and svg:
    <FilesMatch "\.(ttf|otf|eot|svg)$" >
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    Header set cache-control: public
    <FilesMatch "\.(ico|gif|jpg|jpeg|png|swf|css|js|html?|xml|txt)$">
        ExpiresActive On
        ExpiresDefault "access plus 1 years"
    </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    # Force use of Chromium Render Engine if IE
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie

    Header unset ETag
    Header unset Last-Modified
</IfModule>
<FilesMatch "\.(ico|gif|jpg|jpeg|png|swf|css|js|html?|xml|txt)$">
    FileETag none
</FilesMatch>

<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file \.(html?|txt|xml|css|js|php|pl|gif|jpg|jpeg|png|swf)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

# (11) If you have trouble uploading larger files, increase the maximum file size.
#
#<IfModule mod_php5.c>
#    php_value upload_max_filesize -1
#    php_value post_max_size 512M
#    php_value memory_limit -1
#    php_value max_input_time -1
#    php_value max_execution_time 0
#    php_value error_reporting 5
#</IfModule>
