/* General Settings */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff url('images/layout/background.png') repeat-x;
	font: 62.5% 'Trebuchet MS', Arial, sans-serif;
}
img {
	border: 0;
}
p {
	padding: 5px 0;
}
/* Tables */
/*
table, tr, th, td {
	border: 1px solid #333;
	border-collapse: collapse;
}

table {
	width: 100%;
}
th {
	padding: 1px 2px;
	background: #f00;
	font-size: 1.1em;
	color: #fff;
}
td {
	text-align: center;
}
*/
/* Hyperlinks */
a, a:link, a:hover {
	color: #069;
	text-decoration: none;
}
a:hover {
	color: #f90;
	text-decoration: underline;
}
/* Lists */
ul, ol {
	margin: 10px 20px;
}
ul ul, ol ol {
	margin: 0 20px;
}
dl {
	text-align: left;
}
/* Headings */
h1 {
	padding-bottom: 5px;
	font-size: 1.5em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}
/* Layout */
#header {
	height: 40px;
}
#navigation {
	margin: 0 0 0 5px;
	padding-top: 17px;
	list-style: none;
	font-weight: bold;
	font-size: 1.4em;
}
#navigation li {
	float: left;
}
#navigation li a {
	margin: 0 1px 0 1px;
	padding: 0 5px;
	background: #900;
	border: 1px solid #333;
	color: #fff;
	line-height: 23px;
	display: block;
}
#navigation li a:hover {
	border-bottom-color: #900;
	color: #ffc;
	text-decoration: none;
}
#breadcrumbs {
	height: 27px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #fff;
	line-height: 27px;
	clear: both;
}
#breadcrumbs span {
	color: #eee;
}
#breadcrumbs a {
	color: #000;
}
#breadcrumbs a:hover {
	color: #ffc;
}
#box {
	font-size: 1.2em;
	position: relative;
}
#left {
	width: 200px;
	background: #eee;
	border: 1px solid #333;
	border-width: 0 1px 1px 0;
	float: left;
}
#left h3, #right h3 {
	padding: 5px 5px 5px 10px;
	background: #f00;
	border: 1px solid #333;
	border-width: 1px 0;
	font-weight: bold;
	font-size: 1.1em;
	color: #fff;
	text-align: left;
}
#right {
	width: 250px;
	background: #eee;
	border: 1px solid #333;
	border-width: 0 0 1px 1px;
	float: right;
}
#counter li {
	list-style: none;
}
#content {
	padding: 10px 260px 0 210px;
}
#footer {
	margin-top: 20px;
	font-size: 1.1em;
	color: #f00;
	text-align: center;
	letter-spacing: 0.1em;
	clear: both;
}
/* AJAX Progress Indicator */
#notification {
	width: 100%;
	margin: 0;
	height: 20px;
	background: #ff9;
	font: bold 1.3em/20px Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
}
/* Forms */
form {
	text-align: center;
}
label {
	cursor: pointer;
}
dt label, dt span {
	font-weight: bold;
}
dt label:hover {
	color: #f00;
}
fieldset {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	border: 0;
	text-align: left;
}
legend {
	padding: 1px 5px;
	background: #fff;
	border: 1px solid #333;
	font-weight: bold;
}
fieldset dd input, fieldset dd textarea {
	width: 100%;
}
fieldset dd textarea {
	overflow: auto;
}
.button {
	padding: 1px 7px;
	background: #e5e5e5;
	border: 1px solid #ccc;
	color: #333;
	cursor: pointer;
}
.button:hover {
	background: #eee;
	color: #f00;
	text-decoration: none;
}
.form_bottom {
	margin-top: 5px;
}
/* Usercenter */
.usercenter {
	margin-top: 10px;
	text-align: center;
}
.usercenter ul {
	list-style: none;
}
/* Shoutbox */
.shoutbox {
	width: 90%;
	margin: 0 auto 10px auto;
	border: 1px solid #333;
}
.shout-header {
	padding: 2px;
	background: #f00;
	border-bottom: 1px solid #333;
	color: #fff;
}
.shout-content {
	padding: 2px;
}
/* Redirect */
.redirect_message
{
    background-color: #e3e3e3;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

#redirect_heading
{
    position:absolute;
	top: 50%;
	left: 50%;
	width:30em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
	background-color: #ccc;
	border: 1px solid #000;
	text-align: center;
}

/* News */
.newsbox {
	margin-bottom: 10px;
	border: 1px solid #333;
}
.news-cat-img {
	width: 125px;
	border-left: 1px solid #333;
	float: right;
}
.news-head {
	margin-right: 125px;
	padding: 0 5px;
	background: #f00;
	border: 1px solid #333;
	border-width: 0 1px 1px 0;
	color: #fff;
	line-height: 20px;
}
.news-author-comments {
	margin-right: 125px;
	padding: 0 5px;
	border: 1px solid #333;
	border-width: 0 1px 1px 0;
}
.news-content {
	margin-right: 125px;
	padding: 5px;
	border-right: 1px solid #333;
}

/* Messenger */

.message_buttons {
    text-align: right;
}
.message_menu{
    border: 1px solid #333;
}
.message_date {
}
.message_headline {
}
.message_selections {
}
.message_new {
}
.message_old {
}

/* Buttons */

.Button,
.ButtonYellow,
.ButtonRed,
.ButtonGreen,
.ButtonGrey,
.ButtonOrange
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #333333;
	font-size: 9px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
	padding: .25em;
    margin: 3px;
    white-space: nowrap;
}

.Button,
.ButtonGrey
{
	background: url(../core/images/background_form_element_grey.gif) repeat-x;
}

.ButtonYellow
{
	background: url(../core/images/background_form_element_yellow.gif) repeat-x;
}

.ButtonOrange
{
	background: url(../core/images/background_form_element_orange.gif) repeat-x;
}

.ButtonRed
{
	background: url(../core/images/background_form_element_red.gif) repeat-x;
}

.ButtonGreen
{
	background: url(../core/images/background_form_element_green.gif) repeat-x;
}

.Button:active,
.ButtonYellow:active,
.ButtonRed:active,
.ButtonGreen:active,
.ButtonGrey:active,
.ButtonOrange:active
{
	border: 1px solid #CCCCCC;
	border-top-color: #999999;
	border-left-color: #999999;
}

form input,
form textarea,
form select
{
	width: auto;      /* auto-size, otherwise watch for wrap on resize */
	margin: 3px 0 0 5px;  /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
    padding-left: 3px;
}

.input_text
{
    border: 1px solid black;
    height: 13px;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

.ajax_input_text input,
.ajax_input_text textarea
{
    border: 1px solid black;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

form select.input_text
{
    height: auto;
}

.input_textarea
{
    border: 1px solid black;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

.tr_row1 td
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.tr_row2 td
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.td_header
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
	background: url(images/td_header.gif) repeat-x;
}

.tr_header td,
.tr_header th
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
	background: url(images/td_header.gif) repeat-x;
}

.tr_header_small td
{
    background: #D5CCBB;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 2px;
    padding-left: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}

.td_header_small
{
    background: #D5CCBB;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 2px;
    padding-left: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}