/* General Settings */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff url('images/layout/background.png') repeat-x;
	font: 62.5% 'Trebuchet MS', Arial, sans-serif;
}
img {
	border: 0;
}
p {
	padding: 5px 0;
}
/* Hyperlinks */
a, a:link, a:hover {
	color: #069;
	text-decoration: none;
}
a:hover {
	color: #f90;
	text-decoration: underline;
}
/* Lists */
ul, ol {
	margin: 10px 20px;
}
ul ul, ol ol {
	margin: 0 20px;
}
/* Headings */
h1 {
	padding: 5px 0;
	font-size: 1.5em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}
/* Layout */
#header {
	height: 40px;
}
#navigation {
	margin: 0 0 0 5px;
	padding-top: 17px;
	list-style: none;
	font-weight: bold;
	font-size: 1.4em;
}
#navigation li {
	float: left;
}
#navigation li a {
	margin: 0 1px 0 1px;
	padding: 0 5px;
	background: #900;
	border: 1px solid #333;
	color: #fff;
	line-height: 23px;
	display: block;
}
#navigation li a:hover {
	border-bottom-color: #900;
	color: #ffc;
	text-decoration: none;
}
#breadcrumbs {
	height: 27px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #fff;
	line-height: 27px;
	clear: both;
}
#breadcrumbs span {
	color: #eee;
}
#breadcrumbs a {
	color: #000;
}
#breadcrumbs a:hover {
	color: #ffc;
}
#box {
	font-size: 1.2em;
}
#left {
	width: 200px;
	background: #eee;
	border: 1px solid #333;
	border-width: 0 1px 1px 0;
	float: left;
}
#left h3, #right h3 {
	padding: 5px 5px 5px 10px;
	background: #f00;
	border: 1px solid #333;
	border-width: 1px 0;
	font-weight: bold;
	font-size: 1.1em;
	color: #fff;
	text-align: left;
}
#right {
	width: 250px;
	background: #eee;
	border: 1px solid #333;
	border-width: 0 0 1px 1px;
	float: right;
}
#counter li {
	list-style: none;
}
#content {
	margin: 0 260px 0 210px;
}
#footer {
	font-size: 1.1em;
	color: #f00;
	text-align: center;
	letter-spacing: 0.1em;
	clear: both;
}
/* AJAX Progress Indicator */
#notification {
	width: 100%;
	margin: 0;
	height: 20px;
	background: #ff9;
	font: bold 1.3em/20px Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
}
/* Forms */
form {
	text-align: center;
}
label {
	cursor: pointer;
}
label:hover {
	color: #f00;
}
dt label, dt span {
	font-weight: bold;
}
fieldset {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	border: 0;
	text-align: left;
}
legend {
	padding: 1px 5px;
	background: #fff;
	border: 1px solid #333;
	font-weight: bold;
}
fieldset dd input, fieldset dd textarea {
	width: 100%;
}
.button {
	padding: 1px 7px;
	background: #e5e5e5;
	border: 1px solid #ccc;
	color: #333;
	cursor: pointer;
}
.button:hover {
	background: #eee;
	color: #f00;
	text-decoration: none;
}
.form_bottom {
	margin-top: 5px;
}
/* Usercenter */
.usercenter {
	margin-top: 10px;
	text-align: center;
}
.usercenter ul {
	list-style: none;
}
/* Shoutbox */
.shoutbox {
	width: 90%;
	margin: 0 auto 10px auto;
	border: 1px solid #333;
}
.shout_header {
	padding: 2px;
	background: #f00;
	border-bottom: 1px solid #333;
	color: #fff;
}
.shout_content {
	padding: 2px;
}
/* Redirect */
.redirect
{
	width: 200px;
	height: 50px;
	margin-top: -25px;
	margin-left: -100px;
	padding: 10px;
	background: #ccc;
	border: 1px solid #000;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
}
