/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.1
**  Dateiversion: 27.08.06  
**  Datei       : basemod_1-3-2.css
**  Funktion    : Variation des Basislayouts - Spaltenanordnung: 1-3-2
**
*/

@media screen
{
/* #col1 wird zur linken Spalte */
#col1 {	width: 25%; }	

/* #col2 wird zur rechten Spalte */
#col2 {	width: 25%; }

/* #col3 wird zur mittleren Spalte */
#col3 { margin-left: 25%; margin-right: 25%; }

} 
