/* 
	Grey Suits you Sir. Please host the images on your own server.
	written by Stuart Colville http://www.muffinresearch.co.uk
*/

.tabledesign-grey table,td
{
	border               : 1px solid #CCC;
	border-collapse      : collapse;
  font                 : small/1.2 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
.tabledesign-grey table
{
	border                :none;
	border                :1px solid #CCC;
}
.tabledesign-grey thead th,
.tabledesign-grey tbody th
{
	background            : #FFF url(th_bck.gif) repeat-x;
  color                 : #666;  
	padding               : 5px 10px;
  border-left           : 1px solid #CCC;
}
.tabledesign-grey tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #CCC;
  text-align            : left;
  font-weight           : normal;
}
.tabledesign-grey tbody tr td
{
	padding               : 5px 10px;
  color                 : #666;
}
.tabledesign-grey tbody tr:hover
{
  background            : #FFF url(tr_bck.gif) repeat;
}

.tabledesign-grey tbody tr:hover td
{
  color                 : #454545;
}
.tabledesign-grey tfoot td,
.tabledesign-grey tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
	padding               : 4px;
  background            : #FFF url(foot_bck.gif) repeat;
  color                 : #666;
}
.tabledesign-grey caption
{
	text-align            : left;
	font-size             : 110%;
	padding               : 10px 0;
	color                 : #666;
}
.tabledesign-grey table a:link
{
	color                 : #666;
}
.tabledesign-grey table a:visited
{
	color                 : #666;
}
.tabledesign-grey table a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
.tabledesign-grey table a:active
{
	color                 : #003366;
}