/*
** -------------------------------------------------
**
**   Menu.css, XulMenu
**
**   Modified by: Michael F. S. Christensen
**
**   Valid CSS2 stylesheet (www.w3c.org)
**
** -------------------------------------------------
*/

.XulMenu {
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}
.XulMenu .button,
.XulMenu .button:hover,
.XulMenu .button-active,
.XulMenu .button-active:hover {
    line-height: normal;
    padding: 5px 3px 3px 6px;
    margin: 1px;
    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    display: block;
    position: relative;
}
.XulMenu .button:hover {
    margin: 0px;
    border: 1px solid #8F8F85;
    background:#EFECDE;
}
.XulMenu .button-active,
.XulMenu .button-active:hover {
    margin: 0px;
    border: 1px solid #8F8F85;
    border-bottom:none;
    background:#C9D5E5;
}



.XulMenu .item,
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    border:1px solid #FDFDF9;
    background: #FDFDF9;
    line-height: normal;
    padding: 4px 30px 4px 25px;
    color: black;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    display: block;
    position: relative;
}
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    border:1px solid #316BC6;
    background: #C9D5E5;
    color: black;
}

/*
.XulMenu .item {
    margin:1px;
    background: #ffffff;
    padding: 3px 30px 3px 20px;
}
.XulMenu .item,
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    line-height: normal;

    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    position: relative;
    display: block;
}
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    margin:0px;
    border:1px solid #316BC6;
    background: #C9D5E5;
    padding: 2px 30px 2px 20px;
}
*/
.XulMenu .section {
    background: #FCFCF8;
    border: 1px solid #000000;
    border-color: #F1EFE2 #716F64 #716F64 #F1EFE2;
    padding: 5px 2px 4px 3px; /* top right bottom left */
    position: absolute;
    visibility: hidden;
    z-index: 5;
}
.XulMenu .arrow {
    position: absolute;
    top: 7px;
    right: 8px;
    border: 0;
}

.XulMenu .pic {
    position: absolute;
    top: 3px;
    left: 6px;
    border: 0;
}

.XulMenu .nubs_pic {
   position: absolute;
   top: -1px;
   left: -2px;
}

.XulMenu .element {
    position: relative;
    padding-left: 25px;
}


.XulMenu .itembtn,
.XulMenu .itembtn:hover,
.XulMenu .itembtn-active,
.XulMenu .itembtn-active:hover {
    line-height: normal;
    padding: 1px 3px 3px 3px;
    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    position: relative;
    margin-right: 2px;
}
.XulMenu .itembtn:hover,
.XulMenu .itembtn-active,
.XulMenu .itembtn-active:hover {
    border: 1px solid #8F8F85;
    background:#EFECDE;
    color: black;
    padding: 3px 2px 3px 2px;
}

* html .XulMenu td { position: relative; } /* ie 5.0 fix */
