/*
** -------------------------------------------------
**
**   Menu.css, XulMenu
**
**   Modified by: Michael F. S. Christensen
**
**   Valid CSS2 stylesheet (www.w3c.org)
**
** -------------------------------------------------
*/

@charset "UTF-8";

@media screen
{
    .XulMenu {
        font-family: tahoma, verdana, arial, sans-serif;
        font-size: 11px;
    }
    .XulMenu .button,
    .XulMenu .button:hover,
    .XulMenu .button-active,
    .XulMenu .button-active:hover {
        line-height: normal;
        padding: 4px 6px 4px 6px;
        margin: 1px;
        color: #000000;
        text-decoration: none;
        cursor: default;
        white-space: nowrap;
        display: block;
        position: relative;
        /*width: 100%;*/
        border: 1px solid lightgrey;
        text-align: center;
    }
    .XulMenu .button:hover {
        margin: 1px;
        border: 1px solid #8F8F85;
        background:#EFECDE;
    }
    .XulMenu .button-active,
    .XulMenu .button-active:hover {
        margin: 1px;
        border: 1px solid #8F8F85;
        background:#C9D5E5;
    }

    .XulMenu .item,
    .XulMenu .item:hover,
    .XulMenu .item-active,
    .XulMenu .item-active:hover {
        border:1px solid #FDFDF9;
        background: #FDFDF9;
        line-height: normal;
        padding: 4px 30px 4px 25px;
        color: black;
        text-decoration: none;
        cursor: default;
        white-space: nowrap;
        display: block;
        position: relative;
    }
    .XulMenu .item:hover,
    .XulMenu .item-active,
    .XulMenu .item-active:hover {
        border:1px solid #316BC6;
        background: #C9D5E5;
        color: black;
    }

    /*
    .XulMenu .item {
        margin:1px;
        background: #ffffff;
        padding: 3px 30px 3px 20px;
    }
    .XulMenu .item,
    .XulMenu .item:hover,
    .XulMenu .item-active,
    .XulMenu .item-active:hover {
        line-height: normal;

        color: #000000;
        text-decoration: none;
        cursor: default;
        white-space: nowrap;
        position: relative;
        display: block;
    }
    .XulMenu .item:hover,
    .XulMenu .item-active,
    .XulMenu .item-active:hover {
        margin:0px;
        border:1px solid #316BC6;
        background: #C9D5E5;
        padding: 2px 30px 2px 20px;
    }
    */

    .XulMenu .section {
        background: #FCFCF8;
        border: 1px solid;
        border-color: #F1EFE2 #716F64 #716F64 #F1EFE2;
        padding: 2px 1px 1px 2px; /* top right bottom left */
        position: absolute;
        visibility: hidden;
        /*filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2);*/
        z-index: -1;
    }
    .XulMenu .arrow {
        position: absolute;
        top: 7px;
        right: 8px;
        border: 0;
    }

    .XulMenu .pic {
        position: absolute;
        top: 2px;
        left: 3px;
        border: 0;
    }

    .XulMenu .itembtn,
    .XulMenu .itembtn:hover,
    .XulMenu .itembtn-active,
    .XulMenu .itembtn-active:hover {
        line-height: normal;
        padding: 1px 3px 3px 3px;
        color: #000000;
        text-decoration: none;
        cursor: default;
        white-space: nowrap;
        position: relative;
    }
    .XulMenu .itembtn:hover,
    .XulMenu .itembtn-active,
    .XulMenu .itembtn-active:hover {
        background: #C9D5E5;
        border:1px solid;
        border-color: #316BC6;
        color: black;
        padding: 1px 2px 3px 2px;
    }

    * html .XulMenu td { position: relative; } /* ie 5.0 fix */

}
