/*-------------------------------------------------------------------------------------------------
    Clansuite - just an eSports CMS

    Document   : base.css
    Description: Clansuite Stylesheet Framework Base

    Syntax recommendation http://www.w3.org/TR/REC-CSS2
-------------------------------------------------------------------------------------------------*/

@charset "UTF-8";

@media all
{
    * { margin:0; padding:0; }

    * html body * { overflow:visible; }
    * html iframe, * html frame { overflow:auto; }
    * html frameset { overflow:hidden; }
    * html textarea { overflow:scroll; overflow-x:hidden; }
    * html input { overflow:hidden; }

    /* 
     * Erzwingen vertikaler Scrollbalken in Netscape, Firefox und Safari Browsern 
     * dient nur der Ästhetik um ein gleiches Erscheinungsbild zum IE herzustellen
     */
    html { 
        height: 100%; 
        margin-bottom: 1px; 
    }
    body { o\verflow:visible; }


    /*
     * ----------------------------------------------------------
     * Master Container
     * ----------------------------------------------------------
     */
    #ceHeader { position:relative; }

    #ceHeader, 
    #ceTopNav, 
    #ceMain, 
    #ceBottomNav, 
    #ceFooter 
    { 
        clear:both; 
    }

    /*
     * ----------------------------------------------------------
     * Clearing
     * ----------------------------------------------------------
     */
    .clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .clearfix:after {
        content: ".";
        display: block;
        font-size:0;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .clearfix { display: block; }

    * html .clearfix {
        height: 1%;
    }

    html #ie_clearing {
        position:static;
        display:block;
        \clear:both;
        width:100%;
        font-size:0px;
        margin:-2px 0 -1em 1px;
    }

    * html #ie_clearing { margin:-2px 0 -1em 0; }


    /*
     * ----------------------------------------------------------
     * Die 3 Hauptspalten im Main-Container
     * ----------------------------------------------------------
     */

    /* Left Widget Bar default: 220px */
    #ceCol1 { 
        float: left; 
        width: 220px 
    }

    /* Right Widget Bar default 220 Pixel */
    #ceCol2 { 
        float:right; 
        width: 220px 
    }

    /* Flexible Middle + Center = Main Content */
    #ceCol3 { 
        width:auto; 
        margin-left: 220px; 
        margin-right: 220px; 
    }

    /* Vorbereitung für absolute Positionierungen innerhalb der Inhaltsspalten */
    #ceCol1 { z-index: 3; }
    #ceCol2 { z-index: 5; }
    #ceCol3 { z-index: 1; }

    #ceCol1_content { z-index: 4; }
    #ceCol2_content { z-index: 6; }
    #ceCol3_content { z-index: 2; }

    #ceCol1_content, 
    #col2_content, 
    #col3_content 
       { 
        position:relative; 
    }

    * html #ceCol1,
    * html #ceCol2,
    * html #ceCol3 { position:relative; }

    * html #ceCol1_content,
    * html #ceCol2_content,
    * html #ceCol3_content { word-wrap:break-word; }


    /* fix  ff bugs */
    div:after, ol:after, form:after, dl:after, ul:after 
    {
        content:".";
        display:block;
        clear:both;
        visibility:hidden;
        height:0;
        overflow:hidden;
    }

}
