body
{   margin:0 px; 
    padding:0 px;
    background: #E4E0C7;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; margin: 2em;
}

a:link,
a:visited
{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover
{
    text-decoration: underline;
    color: black;
    font-weight: bold;
}
    
.redirect
{
    padding: 10px;
    position: relative;
    top: 300px;
    background: #CCCCCC;
    width: 200px;
    border: 1px solid #000000;
    vertical-align: middle;
    text-align: center;
}

.font_mini
{
    font-size: 10px;
}

.error
{
    color: red;
    font-weight: bold;
}

.input_text
{
    border: thin solid black;
}

.input_submit
{
    border: thin solid black;
}

.input_checkbox
{
    border: thin solid black;
}

table td
{
    vertical-align: top;
}

p 
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; 
    margin: 2em;
}

#cell1
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

#cell2
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

#td_header
{
    background: lightgrey;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}
 
#left_menu
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; margin: 2em;
}

#right_menu
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; 
    margin: 2em;
}

#header
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 3px;
    cursor: default;
    font-weight: bold;
}

#header span
{
position: absolute;
right: 38px;
}

#menugradient {
    width:100%;
    background: #ECE9D8;
    border-bottom: 1px solid #ACA899;
    overflow: auto;
}

#bar {
    float: left;
    width: auto;
    padding-top:    1px;
    padding-bottom: 1px;
    padding-left: 5px;
    cursor: default;
    /* overflow:auto; /* Aufgrund des Floatens der Innencontainer */
}

#search
{
float:  right;
width:  auto;
margin-right: 5px;
/* background: url('<?php echo WWW_ROOT ?>/admin/images/user.gif') no-repeat 0% 0%;  */
}

#search input, 
#search select 
{     
font-family: georgia, tahoma, verdana;
font-size: 12px;  
margin-top: 4px;
}

#content
{
    padding: 10px;
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ACA899 #ACA899 #ACA899 #ffffff;
    cursor: default;
}
