body
{   margin:0 px; 
    padding:0 px;
    background: #E4E0C7;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; 
    margin: 2em;
}

a:link,
a:visited
{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover
{
    text-decoration: underline;
    color: black;
    font-weight: bold;
}
    
.redirect
{
    padding: 10px;
    position: relative;
    top: 300px;
    background: #CCCCCC;
    width: 200px;
    border: 1px solid #000000;
    vertical-align: middle;
    text-align: center;
}

.font_mini
{
    font-size: 10px;
}

.error
{
    color: red;
    font-weight: bold;
}

input,select
{
    font-size: 11px;
    font-family: georgia, tahoma, verdana;
}

.input_text
{
    border: 1px solid black;
}

.input_submit
{
    border: 1px solid black;
}

.input_checkbox
{
    border: 1px solid black;
}

img { 
    border: 0px;
}

table td
{
    vertical-align: top;
}

p 
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; 
    margin: 2em;
}

#cell1
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

#cell2
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

#cell3
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 0px;
    cursor: default;
}

#td_header
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

#td_header_small
{
    background: #D5CCBB;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 2px;
    padding-left: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}
 
#left_menu
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; margin: 2em;
}

#right_menu
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; 
    margin: 2em;
}

#header
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-weight: bold;
}

#header span
{   /* move Date inside Header to right-side */
    position: absolute;
    right: 38px;
}

#menugradient {
    
    height: 24px; 
    
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    /* overflow: auto; Aufgrund des Floatens der Innencontainer */
    padding-top:    1px;
    padding-bottom: 1px;
    
}

#bar
{
    float: left;
    width: auto;
}

#search
{   
    vertical-align: middle;
    height: 30px;
    float:  right;
    width:  auto;
    margin-right: 5px; 
}

#search input, 
#search select 
{     
    font-family: georgia, tahoma, verdana;
    font-size: 12px;  
    margin-top: 4px;
}

#content
{
    padding: 8px;
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    
}

/**
* @desc FCK Editor
*/
.Bold
{
	font-weight: bold;
}

.Title
{
	font-weight: bold;
	font-size: 18px;
	color: #cc3300;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}

/**
* @desc Admin Menu
*/
#admin_icon_head
{
    padding: 5px;
}