
/* CSS for Clansuite Button Styles */

@charset "UTF-8";

@media screen
{

    /* Corner radius */
    .corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
    .corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
    .corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
    .corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
    .corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
    .corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
    .corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
    .corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
    .corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }

    input[type="submit"], input[type="reset"],
    input[type="button"] {
        background-color: #FFFFFF;
        border: 1px solid #999999;
        border-top-color: #CCCCCC;
        border-left-color: #CCCCCC;
        color: #333333;
        font-family: tahoma, sans-serif;
        font-weight: bold;
        font-size: 11px;
        font-weight: bold;
        margin: 5px;
        padding: 3px;
        white-space: nowrap;
        min-width: 64px;
    }

    /**
     * Clansuite Button Styles
     */

    .Button, .ButtonYellow, .ButtonRed, .ButtonGreen, .ButtonGrey, .ButtonOrange
    {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #FFFFFF;
        border-color: #CCCCCC #999999 #999999 #CCCCCC;
        border-right: 1px solid #999999;
        border-style: solid;
        border-width: 1px;
        color: #333333;
        font-family: tahoma,sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin: 3px;
        padding: 0.3em 1.2em;
        white-space: nowrap;
    }

    /**
     * Clansuite Button Colors
     */

    .ButtonGrey
    {
        background: url(../images/background_form_element_grey.gif) repeat-x;
        background-size: contain;
    }

    .ButtonYellow
    {
        background: url(../images/background_form_element_yellow.gif) repeat-x;
        background-size: contain;
    }

    .ButtonOrange
    {
        background: url(../images/background_form_element_orange.gif) repeat-x;
        background-size: contain;
    }

    .ButtonRed
    {
        background: url(../images/background_form_element_red.gif) repeat-x;
        background-size: contain;
    }

    .ButtonGreen
    {
        background: url(../images/background_form_element_green.gif) repeat-x;
        background-size: contain;
    }

    .Button:active, .ButtonYellow:active,
    .ButtonRed:active, .ButtonGreen:active,
    .ButtonGrey:active, .ButtonOrange:active
    {
        border: 1px solid #CCCCCC;
        border-top-color: #999999;
        border-left-color: #999999;
    }
}