@charset "utf-8";
/* CSS Document */

@import url('/themes/core/css/form.css') all;


html, body {
background-color:#d7d6d6;
padding:0;
margin:0;
font: 11px tahoma, verdana, arial, sans-serif;
}


div.inside {
padding:0;
margin:0;
}

div.floatclearall {
clear:both;
}

#header {
background-color:#1e1d1d;
height:120px;
padding:0;
margin:0;
}

div.logo, img.logo {
padding-top:10px;
padding-left:10px;
width:197px;
height:91px;
}

#subHeader {
height:26px;
}

#taskbar_Header {
float:right;
width:200px;
height:25px;
border-left:1px solid #bdbdbd;
border-bottom:1px solid #cac8c8;
/* background-color:#d3d1d1; */
background-color:#e0dede;
}

#taskbar_Header .taskbar_title {
padding-left:5px;
padding-top:5px;
font-weight:bold;
}

#navmain {
height:25px;
border-bottom:1px solid #bdbdbd;
background-color:#d3d1d1;
margin-right:201px;
}

table#main {
width:100%;
padding:0px;
margin:0px;
}

td#main_left {
padding:0;
margin:0;
}

td#main_left .inside {
padding: 10px 5px;
}

td#main_right {
padding:0;
margin:0;
width:200px;
border-left: 1px solid #bdbdbd;
background-color:#eae8e8;
}

td#main_right .inside {
padding:10px 5px;
}

#rss-news {
float:right;
width:270px;
}

#rss-news .inside {
padding:5px;
}

#content {
margin-right:275px;
}

.box-head {
height:28px;
background-color:#1e1d1d;
}

.box-heading {
color:#ffffff;
font-weight:bold;
padding-top:7px;
}

.box-content {
padding:5px;
background-color:#ffffff;
}

#breadcrumbs {
color:#ffffff;
font-weight:bold;
padding-top:7px;
}

.box-content {
border: 1px solid #bdbdbd;
}

img.leftcorner {
float:left;
}

#taskbar {
padding:0;
}

#taskbar div.inside {
padding:0;
}

#foot {
height:50px;
background-color:#1e1d1d;
position:relative;
bottom:0;
left:0;
color:#ffffff;
padding:5px;
font-family:Arial, Verdana, Helvetica, sans-serif;
font-size:10px;
}

#foot div.inside {
text-align:center;
padding-top:10px;
}

#footer p.left {
border-left:1px solid #B7B7B7;
border-right:1px solid #B7B7B7;
float:left;
margin-left:1em;
padding:0pt 1em;
}

#footer p.right {
float:right;
text-align:right;
}

#footer #poweredby {
border:0pt none;
float:left;
}

#footer #poweredby:hover {
background:transparent none repeat scroll 0%;
}

#footer p {
margin:0pt;
padding-top:4px;
}

#footer a,
#footer a:link,
#footer a:visited
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#breadcrumb {
float:left;
margin-right:20px;
}

/**
 * This is the "HELP" element; on the right side; in the admin header
 */
#help-toggler
{
    padding-right: 10px;
	padding-top: 7px;
	color:#ffffff;
	float:right;
}

#helpbutton {
	float:right;
	z-index:3;
	position:relative;
}

#help.admin_help {
	position:absolute;
	top:30px;
	right:0px;
    width: 350px;
    padding: 8px;
    background: #EEEEEE;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    cursor: default;
}


/* admin.css */
a,
a:link,
a:visited
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Button,
.ButtonYellow,
.ButtonRed,
.ButtonGreen,
.ButtonGrey,
.ButtonOrange
{
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    color: #333333;
    font-size: 9px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
    padding: .25em;
    margin: 3px;
    white-space: nowrap;
}

.Button,
.ButtonGrey
{
    background: url(images/background_form_element_grey.gif) repeat-x;
}

.ButtonYellow
{
    background: url(images/background_form_element_yellow.gif) repeat-x;
}

.ButtonOrange
{
    background: url(images/background_form_element_orange.gif) repeat-x;
}

.ButtonRed
{
    background: url(images/background_form_element_red.gif) repeat-x;
}

.ButtonGreen
{
    background: url(images/background_form_element_green.gif) repeat-x;
}

.Button:active,
.ButtonYellow:active,
.ButtonRed:active,
.ButtonGreen:active,
.ButtonGrey:active,
.ButtonOrange:active
{
    border: 1px solid #CCCCCC;
    border-top-color: #999999;
    border-left-color: #999999;
}


.crudbutton
{
    text-align: center;

    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;

    padding: 3px;
    /* width: 30%; */
    height: 14px;


    position:relative;
    border: 1px solid #F1EFE2;
    z-index: 5;
    cursor: default;
}

.crudbutton:hover
{
    background-color: #ffffff;
    border: 1px solid #ACA899;
}

.redirect_message
{
    background-color: #e3e3e3;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#redirect_heading
{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: #ccc;
    border: 1px solid #000;
    text-align: center;
}

.font_mini
{
    font-size: 10px;
}

.error
{
    color: red;
    font-weight: bold;
}

.input_text
{
    border: 1px solid black;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

.ajax_input_text input,
.ajax_input_text textarea
{
    border: 1px solid black;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

form select.input_text
{
    height: auto;
}

.input_textarea
{
    border: 1px solid black;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

.checkbox
{
    border: 1px solid black;
}

img {
    border: 0px;
}

table.admintable thead th
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

table.admintable tbody
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    cursor: default;
}

table.admintable td
{
    padding: 5px;
    vertical-align: middle;
    border-color: white;
    border: 1px solid white;
}

table.admintable tr#cell2
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    cursor: default;
}

table.admintable tr#cell3
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    cursor: default;
}

.tr_row1 td
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.tr_row2 td
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.cell1
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.cell2
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.cell3
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 0px;
    cursor: default;
}

.td_header
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    background: transparent url(images/thback.gif) repeat-x scroll 0 0;
}

.tr_header td,
.tr_header th
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    background: transparent url(images/thback.gif) repeat-x scroll 0 0;
}

.tr_header_small td
{
    background: #D5CCBB;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 2px;
    padding-left: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}

.td_header_small
{
    background: gainsboro;
    border: 1px solid;
    border-color: #ffffff gray gray #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
}

.left_menu
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; margin: 2em;
}

.right_menu
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    margin: 2em;
}

.header
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-weight: bold;
}

.header span
{   /* move Date inside Header to right-side */
    position: absolute;
    right: 38px;
}

.menugradient
{
    height: 24px;
    background: #ECE9D8;
    border: 0px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    /* overflow: auto; Aufgrund des Floatens der Innencontainer */
    padding-top:    0px;
    padding-bottom: 1px;
    padding-left:   8px;
}

.bar
{
    float: left;
    width: auto;
}

.search
{
    vertical-align: middle;
    height: 30px;
    float:  right;
    width:  auto;
    margin-right: 5px;
}

.search input,
.search select
{
    font-family: georgia, tahoma, verdana;
    font-size: 12px;
    margin-top: 4px;
}

.content
{
    padding: 8px;
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
}

.border3d
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
}

/**
* @desc FCK Editor
*/
.Bold
{
    font-weight: bold;
}

.Title
{
    font-weight: bold;
    font-size: 18px;
    color: #cc3300;
}

.Code
{
    border: #8b4513 1px solid;
    padding-right: 5px;
    padding-left: 5px;
    color: #000066;
    font-family: 'Courier New' , Monospace;
    background-color: #ff9933;
}

.ModuleHeading
{
    border-bottom: 2px solid #ACA899;
    color: #333333;
    font-size: 1.6em;
    margin: 0 0 20px;
    font-weight: bold;
}

.ModuleHeadingSmall
{
    color:#333333;
    font-size:1.0em;
    margin:0 0 20px;
    padding:0;
    font-weight:bold;
}

/**
* @desc Admin Menu
*/
.admin_icon_head
{
    padding: 5px;
}

/**
* @desc Admin Header,Content,Helptext
*/
.admin_header
{
    background: url(images/thback.gif) repeat-x scroll 0 0;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    border-width: 1px;
    border-style: solid;
    color: #333333;
    cursor: default;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 4px;
}

.admin_header_help
{
    cursor: pointer;
    padding: 8px;
    background: #D5CCBB url(images/admin_header_help.gif) repeat-x;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    cursor: default;
}

/**
 * This is for the div next to the adminmenu. (userprofil, show frontpage, logout).
 */
.adminmenu-rightside
{
    padding-right: 13px;
    text-align: right;
}

/**
 * this is the box which fades in after you clicked HELP in the admin header
 */
.admin_content
{
    padding: 8px;
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
}

.admin_content_seperated
{
    padding: 8px;
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
}

/* AJAX Progress Indicator */

#notification {
    display: block;
    position: fixed;
    width: 100%;
    margin: 0px;
    left: 0px;
    bottom: 0px;
    /* top: 0px; */
    height: 20px;
    background-color: #FFFF99;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-top: 5px;
}

.admin .user_settings
{

}

.admin .user_settings table td,
.admin .user_settings table th,
.admin .user_settings table tr
{
    padding: 3px;
}

.tooltip
{
    border: 1px solid #000;
    background-color: #fff;
    padding: 5px;
    font-weight: bold;
}

div#breadcrumbs a, div#breadcrumbs a:link, div#breadcrumbs a:visited
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}