body {
	background-color:#FFFFFF;
	color:#222222;
	font-family:Verdana,Helvetica,sans-serif;
	font-size:8pt;
	margin:20px;
	text-align:left;
}

.copyright {
	color:#333333;
	font-family:Verdana,Helvetica,sans-serif;
	font-size:8pt;
	text-align:center;
}