body
{   margin: 0px; 
    padding: 0px;
    background: #ECE9D8; 
    /* background: url(../images/bgr.png); */
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; 
    margin: 2em;
}

.oops
{
    display: none;
}

a,
a:link,
a:visited
{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Button,
.ButtonYellow,
.ButtonRed,
.ButtonGreen,
.ButtonGrey,
.ButtonOrange
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #333333;
	font-size: 9px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
	padding: .25em;
    margin: 3px;
    white-space: nowrap;
}

.Button,
.ButtonGrey
{
	background: url(images/background_form_element_grey.gif) repeat-x;
}

.ButtonYellow
{
	background: url(images/background_form_element_yellow.gif) repeat-x;
}

.ButtonOrange
{
	background: url(images/background_form_element_orange.gif) repeat-x;
}

.ButtonRed
{
	background: url(images/background_form_element_red.gif) repeat-x;
}

.ButtonGreen
{
	background: url(images/background_form_element_green.gif) repeat-x;
}

.Button:active,
.ButtonYellow:active,
.ButtonRed:active,
.ButtonGreen:active,
.ButtonGrey:active,
.ButtonOrange:active
{
	border: 1px solid #CCCCCC;
	border-top-color: #999999;
	border-left-color: #999999;
}

.small_grey
{
	margin-top: -5px;
    margin-left: -3px;
    color: grey;
    font-size: 9px;
    font-family: tahoma, sans-serif;
}

.crudbutton
{   
    text-align: center;
   
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
    padding: 3px;
    /* width: 30%; */
    height: 14px;
    
    
    position:relative;
    border: 1px solid #F1EFE2;
    z-index: 5;
    cursor: default;
}

.crudbutton:hover
{
    background-color: #ffffff;
    border: 1px solid #ACA899;
}
    
.redirect
{
    padding: 10px;
    position: relative;
    top: 300px;
    background: #CCCCCC;
    width: 200px;
    border: 1px solid #000000;
    vertical-align: middle;
    text-align: center;
}

.font_mini
{
    font-size: 10px;
}

.error
{
    color: red;
    font-weight: bold;
}

.input_text
{
    border: 1px solid black;
    height: 13px;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;     
}

.input_textarea
{
    border: 1px solid black;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;     
}

.checkbox
{
    border: 1px solid black;
}

img { 
    border: 0px;
}

table td
{
    vertical-align: top;
}

p 
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; 
    margin: 2em;
}

table.admintable thead th
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

table.admintable tbody
{   
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    cursor: default; 
}

table.admintable td{

    padding: 5px;
    vertical-align: middle;
    border-color: white;
    border: 1px solid white;
}

table.admintable tr#cell2
{   
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    cursor: default;
}

table.admintable tr#cell3
{   
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    cursor: default;
}

.tr_row1 td
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;    
}

.tr_row2 td
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.cell1
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.cell2
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
}

.cell3
{
    background: #E4E0C7;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 0px;
    cursor: default;    
}

.td_header
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
	background: url(images/header.gif) repeat-x;
}

.tr_header td
{
    background: #254161;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
	background: url(images/header.gif) repeat-x;    
}

.tr_header_small td
{
    background: #D5CCBB;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 2px;
    padding-left: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}

.td_header_small
{
    background: #D5CCBB;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 2px;
    padding-left: 5px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
}
 
.left_menu
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; margin: 2em;
}

.right_menu
{
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px; 
    margin: 2em;
}

.header
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    padding: 5px;
    cursor: default;
    font-weight: bold;
}

.header span
{   /* move Date inside Header to right-side */
    position: absolute;
    right: 38px;
}

.menugradient {
    
    height: 24px; 
    
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
    /* overflow: auto; Aufgrund des Floatens der Innencontainer */
    padding-top:    1px;
    padding-bottom: 1px;
    
}

.bar
{
    float: left;
    width: auto;
}

.search
{   
    vertical-align: middle;
    height: 30px;
    float:  right;
    width:  auto;
    margin-right: 5px; 
}

.search input, 
.search select 
{     
    font-family: georgia, tahoma, verdana;
    font-size: 12px;  
    margin-top: 4px;
}

.content
{
    padding: 8px;
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
}

.border3d
{
    background: #ECE9D8;
    border: 1px solid;
    border-color: #ffffff #ACA899 #ACA899 #ffffff;
}

/**
* @desc FCK Editor
*/
.Bold
{
	font-weight: bold;
}

.Title
{
	font-weight: bold;
	font-size: 18px;
	color: #cc3300;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}
    
/*
** -------------------------------------------------
** 
**   Menu.css, XulMenu
**
**   Modified by: Michael F. S. Christensen
**
**   Valid CSS2 stylesheet (www.w3c.org)
**
** -------------------------------------------------
*/

.XulMenu {
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}
.XulMenu .button,
.XulMenu .button:hover,
.XulMenu .button-active,
.XulMenu .button-active:hover {
    line-height: normal;
    padding: 4px 6px 4px 6px;
    margin: 1px; 
    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    display: block;
    position: relative;
    width: 100px;
    border: 1px solid lightgrey;
    text-align: center;
}
.XulMenu .button:hover {
    margin: 1px;
    border: 1px solid #8F8F85;
    background:#EFECDE;
}
.XulMenu .button-active,
.XulMenu .button-active:hover {    
    margin: 1px;
    border: 1px solid #8F8F85;    
    background:#C9D5E5;
}



.XulMenu .item,
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    border:1px solid #FDFDF9;
    background: #FDFDF9;
    line-height: normal;
    padding: 4px 30px 4px 25px;
    color: black;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    display: block;
    position: relative;
}
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    border:1px solid #316BC6;
    background: #C9D5E5;
    color: black;
}

/*
.XulMenu .item {
    margin:1px;
    background: #ffffff;
    padding: 3px 30px 3px 20px;
}
.XulMenu .item,
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    line-height: normal;
    
    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    position: relative;
    display: block;        
}
.XulMenu .item:hover, 
.XulMenu .item-active,
.XulMenu .item-active:hover {
    margin:0px;
    border:1px solid #316BC6;   
    background: #C9D5E5;     
    padding: 2px 30px 2px 20px;
}
*/
.XulMenu .section {
    background: #FCFCF8;
    border: 1px solid;
    border-color: #F1EFE2 #716F64 #716F64 #F1EFE2;
    padding: 2px 1px 1px 2px; /* top right bottom left */
    position: absolute;
    visibility: hidden;
    /*filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2);*/
    z-index: -1;       
}
.XulMenu .arrow {
    position: absolute;
    top: 7px;
    right: 8px;
    border: 0;
}

.XulMenu .pic {
    position: absolute;
    top: 2px;
    left: 3px;
    border: 0;
}


.XulMenu .itembtn,
.XulMenu .itembtn:hover,
.XulMenu .itembtn-active,
.XulMenu .itembtn-active:hover {
    line-height: normal;
    padding: 1px 3px 3px 3px;
    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    position: relative;
}
.XulMenu .itembtn:hover,
.XulMenu .itembtn-active,
.XulMenu .itembtn-active:hover {
    background: #C9D5E5; 
    border:1px solid;
    border-color: #316BC6;
    color: black; 
    padding: 1px 2px 3px 2px;
}

* html .XulMenu td { position: relative; } /* ie 5.0 fix */

/* AJAX Progress Indicator */
#ajax-process
{
	background: #32CD32;
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	padding: 3px;
	width: 100%;
	position: fixed;
    top: 0px;
	left: 0px;
	display: none;
	z-index: 99;
}