/*
** debugconsole.css
*/

/* Debug Rahmen Div */
#debugconsole 
{ 
position:relative; 
padding-left: 4px;
font-size: 12px;
background: white; 
}

/* Haupttabelle */
#debugtable
{
width: 100%;
background: #ccc; 
border: 1px solid black; 
border-color: #888888 #ACA899 #ACA899 #888888;
}

/* Zeilen */

#debugconsole .row1    { background: #333; border: 1px solid black; }
#debugconsole .row2    { background: #444; border: 1px solid grey;}

/* Schriftfarben */

#debugconsole .fontcolor1  { color: crimson; }
#debugconsole .fontcolor2  { color: black; }

#debugconsole .arraycolor  { color: mediumvioletred; }

/* Sub-Kategorien - öberschriften Farbe */

#debugconsole .header         { color: darkkhaki; }
#debugconsole .subkeycolor    { color: green; }

/* Variablenfarben ( SchlÅssel -  Wert ) */
#debugconsole .keycolor    { color: tomato; }
#debugconsole .valuecolor  { color: darkorange; }