.install {
border:1px solid #CCCCCC;
margin:20px auto;
padding:10px;
width:780px;
}

.license {
  border: 1px solid #EEEEEE;
  padding: 0px;
  width: 98%;
  height: 300px;
  background: white none repeat scroll 0%;
}

#right {
border-left:1px solid #CCCCCC;
float:right;
padding-left:10px;
width:555px !important;
}

.step-on {
background:#B50016 none repeat scroll 0%;
border:1px solid #000000;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
margin-bottom:5px;
padding:10px;
}


.step-off {
background:#EEEEEE none repeat scroll 0%;
border:1px solid #AAAAAA;
color:#999999;
font-size:12px;
font-weight:bold;
margin-bottom:5px;
padding:10px;
}

.step-pass {
background:#444444 none repeat scroll 0%;
border:1px solid #000000;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
margin-bottom:5px;
padding:10px;
}

#progressbar {
border:1px solid #CCCCCC;
font-size:5px;
padding:2px;
position:relative;
right:0px;
width:100px;
}

#description {
color:#FFFFFF;
font-size:22px;
font-weight:bold;
font-family:Arial,Helvetica,sans-serif;
}