body
{
    font-family: Verdana;
    font-size: 11px;
}

.headerstyle {
background:#EEEEEE url(images/gradient2.png) repeat-x scroll;
border-color:#DDDDDD rgb(187, 187, 187) rgb(187, 187, 187) rgb(221, 221, 221);
border-style:solid;
border-width:1px;
color:#222222;
display:block;
margin:30px 0pt 10px;
padding:5px 0pt 5px 8px;
text-decoration:none;
}

#sidebar {
    float: left;
    padding: 90px 31px 10px;
    width: 160px;
}

.left
{
    background-color: #f2f5f7;
}

.left_row
{
    height: 100%;
    width: 2px;
    background-image: url( images/site_07.gif );
    background-repeat: repeat-y;
}

img
{
    border: 0px;
}

h2
{
    border-bottom: 1px solid #808080;
}

a,
a:link,
a:visited
{
    text-decoration: none;
}

a:hover
{
    color: red;
    text-decoration: underline;
}

.footer
{
    font-family: Verdana;
    font-size: 10px;
    text-align: center;
    margin: auto;
}

.right_row
{
    height: 100%;
    width: 7px;
    background-image: url( images/site_11.jpg );
    background-repeat: repeat;
}

.menu_button
{
    position: relative;
    border-left: 1px solid #AEB7BB;
    /*border-bottom: 1px solid #808080;

    padding-left: 5px;
    padding-bottom: 2px;*/
    display: none;
    width: 110px;
    /*margin: auto;
    margin-left: 20px;
    margin-top: 5px;*/
    cursor: pointer;
}

.menu_text
{
    background-color: #ffffff;
    position: relative;
    padding-left: 31px;
    height: 16px;
    color: #595965;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f2f5f7;
    border-bottom: 1px solid #BFC1C1;
    z-index: 2;
    letter-spacing: 2px;
}

.accordion
{
    margin-left: 15px;
    margin-right: 15px;
}

dl
{
    margin-top: 10px;
}

dl dt
{
    font-weight: bold;
}

#loading
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    /*
    -moz-opacity:0.95;
    -khtml-opacity:0.95;
    opacity:0.95;
    filter:alpha(opacity=95);
    */
    z-index: 98;
}

#loading_inline
{
    position: absolute;
    margin: auto;
    height: 90px;
    width: 100%;
    top: 200px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: black;
    z-index: 99;
    text-align: center;
}

#loading_text
{
    color: white;
    left: 48%;
    top: 30%;
    position: absolute;
}

/* Buttons */

.Button,
.ButtonYellow,
.ButtonRed,
.ButtonGreen,
.ButtonGrey,
.ButtonOrange
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #333333;
	font-size: 9px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
	padding: .25em;
    margin: 3px;
    white-space: nowrap;
}

.Button,
.ButtonGrey
{
	background: url(images/background_form_element_grey.gif) repeat-x;
}

.ButtonYellow
{
	background: url(images/background_form_element_yellow.gif) repeat-x;
}

.ButtonOrange
{
	background: url(images/background_form_element_orange.gif) repeat-x;
}

.ButtonRed
{
	background: url(images/background_form_element_red.gif) repeat-x;
}

.ButtonGreen
{
	background: url(images/background_form_element_green.gif) repeat-x;
}

.Button:active,
.ButtonYellow:active,
.ButtonRed:active,
.ButtonGreen:active,
.ButtonGrey:active,
.ButtonOrange:active
{
	border: 1px solid #CCCCCC;
	border-top-color: #999999;
	border-left-color: #999999;
}


#gb_form
{
    text-align: center;
    border: 1px solid #808080;
    width: 200px;
    height: 140px;
    background-color: #d3d3d3;
    position: absolute;
    margin-top: 50px;
    margin-left: 145px;
}

#gb_form dl
{
    margin-top: 0px;
    padding: 5px;
}

#gb_form dt
{
    font-weight:bold;
    float:left;
    clear:left;
    margin-bottom: 6px;
}

#gb_form dl dt
{
    width: 70px;

}

#gb_form dl dd
{
    width:150px;
    padding-bottom: 5px;
}

.input_text
{
    border: 1px solid black;
    height: 13px;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

#the_gb
{
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.the_message
{
    border: 1px solid #808080;
    padding: 5px;
    margin: 5px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #fff;
}

.the_writer
{
    border-left: 1px solid #808080;
    margin-left: 5px;
    padding-left: 3px;
    margin-bottom: -5px;
}

#adsense{
position: absolute;
top: 35px;
right: 10px;
width: 122px;
margin: 0px;
padding: 0px;
height: 700px;
} 