/* $Id$ */
.tooltip {
    border-bottom: 1px dotted #333;
    position: relative;
    cursor: pointer;
}

.tooltip:hover:after {
    content: attr(tooltip-text); /** <span class=tooltip tooltip-text="annotation">?</span> */
    position: absolute;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.85);
    padding: 3px 7px;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 10px;
    margin-top: -3px;
}

#wrapper {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

#rightpage {
    margin-left:925px;
    width:190px;

    position:fixed;
    top: 35px;
}

.license
{
  background:#FFF none repeat scroll 0;
  border:1px solid #EEE;
  height:300px;
  padding:0;
  width:98%;
}

.step-on
{
  background:#B50016 none repeat scroll 0;
  border:1px solid #000;
  color:#FFF;
  font-size:12px;
  font-weight:700;
  margin-bottom:6px;
  padding:10px;
}

.step-off
{
  background:#EEE none repeat scroll 0;
  border:1px solid #AAA;
  color:#999;
  font-size:12px;
  font-weight:700;
  margin-bottom:6px;
  padding:10px;
}

.step-pass
{
  background:#444 none repeat scroll 0;
  border:1px solid #000;
  color:#FFF;
  font-size:12px;
  font-weight:700;
  margin-bottom:6px;
  padding:10px;
}

#progressbar
{
  border:1px solid #CCC;
  font-size:5px;
  padding:2px;
  width: 100px;
}

input
{
  border:1px solid grey;
}

body {
    background: url("http://cdn.clansuite.com/images/kubrickbgcolor.png") repeat scroll 0 0 #D5D6D7;
    color: #333333;
    text-align: center;
    font-size: 62.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #333;
}

.headerstyle
{
  background:#EEE url(../images/gradient2.png) repeat-x scroll;
  border-color:#DDD #bbb #bbb #ddd;
  border-style:solid;
  border-width:1px;
  display:block;
  margin:0 0 10px;
  padding:5px 0 5px 8px;
  text-decoration:none;
}

.error
{
  border-color:red;
  border-style:solid;
  border-width:1px;
  color:red;
  font-weight:700;
  padding:2px 0 2px 2px;
}

#sidebar {
    float: left;
    margin-top: -130px;
    width: 177px;
}

#jokerlogo {
    margin-left: 15px;
    padding-bottom: 20px;
}

#stepbar {
    margin-top: 20px;
}

img
{
  border: 0;
}

h2
{
  border-bottom:1px solid gray;
  font-size:1.6em;
  margin:30px 0 0;
}

a:hover
{
  color:#147;
  text-decoration:underline;
}

.accordion
{
  margin-left:15px;
  margin-right:15px;
}

.Button,.ButtonYellow,.ButtonRed,.ButtonGreen,.ButtonGrey,.ButtonOrange
{
  background-color:#FFF;
  border:1px solid #999;
  border-left-color:#CCC;
  border-top-color:#CCC;
  color:#333;
  font-family:tahoma, sans-serif;
  font-size:12px;
  font-weight:700;
  margin:3px;
  padding: 0.3em 1.2em;
  white-space:nowrap;
  border-radius: 3px;
}

.Button,.ButtonGrey
{
  background-image: url("../images/background_form_element_grey.gif");
  background-size: contain;
}

.ButtonYellow
{
  background-image: url("../images/background_form_element_yellow.gif");
  background-size: contain;
}

.ButtonOrange
{
  background-image: url("../images/background_form_element_orange.gif");
  background-size: contain; /* IE for the win */
}

.ButtonRed
{
  background-image: url("../images/background_form_element_red.gif");
  background-size: contain; /* IE for the win */
}

.ButtonGreen
{
  background-image: url("../images/background_form_element_green.gif");
  background-size: contain; /* IE for the win */
}

.Button:active,.ButtonYellow:active,.ButtonRed:active,.ButtonGreen:active,.ButtonGrey:active,.ButtonOrange:active
{
  border:1px solid #CCC;
  border-left-color:#999;
  border-top-color:#999;
}

#page
{
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 15px 15px 0 0;

  margin: 48px auto 25px;
  padding: 15px 30px;

  text-align:left;
  width:820px;
  z-index: auto;
}

#header {
    background-color: #FFFFFF;
    border-color: #AAAAAA;
    border-radius: 15px 15px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: right;
    position: relative;
    top: -35px;
    left: 31px;
    width: 80%;
}

#headerlogo {
    background: -moz-linear-gradient(center top , #DCDCDC 0pt, #BBBBBB 50%, #B4B2B4 51%, #ACAAAC 100%) repeat scroll 0 0 transparent;
    border-color: #DCDCDC #DCDCDC #BCBCBC;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 4px black;
    height: 90px;
    line-height: 90px;
    margin: 14px 17px 10px;
    padding: 15px 0;
    width: auto;
    border-style: solid;
    line-height: 90px;
}

#headerlogo h1 {
    color: #C70430;
    font-family: 'IM Fell DW Pica SC',serif;
    font-size: 33px;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 0 1px black, -1px 0 1px white;
}

#content
{
  border-bottom-width:20px;
  margin-left: 17px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;

  padding-bottom:10px;
  padding-left:20px;
  padding-right:17px;
  padding-top:10px;

  width:540px;

  min-height:420px;
  z-index:0;

  border-left:1px solid #ddd;
}

#content_middle
{
  border:0;
  font-size:12px;
  width:100%;
  z-index:0;
  line-height: 1.5;
  margin-left: 35px;
}

#content_footer
{
  font-size:12px;
  min-height:85px;
  z-index:0;
}

.navigation
{
  border-top:1px solid #ddd;
  display:block;
  margin-top: 1.5em;
  margin-left: 30px;
  margin-right: 30px;
  padding-top:5px;
  text-align:center;
}

#footer
{
  clear:both;
  padding:20px 0 0 1px;
  width:820px;
}

small
{
  font-family:Arial, Helvetica, Sans-Serif;
  font-size:.9em;
  line-height:1.5em;
}

h1,h2,h3
{
  font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
  font-weight:700;
}

h2.pagetitle
{
  font-size:1.6em;
  margin-top:30px;
  text-align:center;
}

#rightsidebar h2
{
  font-family:'Lucida Grande', Verdana, Sans-Serif;
  font-size:1.2em;
  margin:5px 0 0;
  padding:0;
}

h3
{
  font-size:1.3em;
  margin:30px 0 0;
  padding:0;
}

h1,h1 a,h1 a:hover,h1 a:visited,.description
{
  color:#FFF;
  text-decoration:none;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited
{
  color:#333;
}

#rightsidebar
{
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1px 2px #DCDCDC;
  font: 1em 'Lucida Grande',Verdana,Arial,Sans-Serif;
  margin: 10px 7px 10px 10px;
  padding: 10px 15px;
  text-align: left;
}

a,h2 a:hover,h3 a:hover
{
  color:#06c;
  text-decoration:none;
}

.narrowcolumn
{
  float:left;
  margin:0 10px;
  padding:0 0 20px 17px;
}

#footer p
{
  margin-bottom: 0;
  padding-bottom: 0;
  padding:10px 0;
  text-align:center;
}

h3.comments
{
  margin:40px auto 20px;
  padding:0;
}

p img
{
  max-width:100%;
  padding:0;
}

img.centered
{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

img.alignright
{
  display:inline;
  margin:0 0 2px 7px;
  padding:4px;
}

img.alignleft
{
  display:inline;
  margin:0 7px 2px 0;
  padding:4px;
}

.alignright
{
  float:right;
}

.alignleft
{
  float:left;
}

html>body .entry ul
{
  list-style:none;
  margin-left:0;
  padding:0 0 0 10px;
  text-indent:-10px;
}

html>body .entry li
{
  margin:7px 0 8px 10px;
}

.entry ul li:before,#rightsidebar ul ul li:before
{
  content:"\00BB \0020";
}

.entry ol
{
  margin:0;
  padding:0 0 0 35px;
}

#rightsidebar ul li
{
  list-style-image:none;
  list-style-type:none;
  margin-bottom:15px;
}

#rightsidebar ul p,#rightsidebar ul select
{
  margin:5px 0 8px;
}

#rightsidebar ul ul,#rightsidebar ul ol
{
  margin:5px 0 0 10px;
}

#rightsidebar ul ul ul,#rightsidebar ul ol
{
  margin:0 0 0 10px;
}

ol li,#rightsidebar ul ol li
{
  list-style: none;
  margin-top: 6px;
}

#rightsidebar ul ul li,#rightsidebar ul ol li
{
  margin:3px 0 0;
  padding:0;
}

select
{
  width:130px;
}

hr
{
  display:none;
}

a img
{
  border:none;
}

a,a:link,a:visited,h2,h2 a,h2 a:hover,h2 a:visited,h3,h3 a,h3 a:hover,h3 a:visited,#rightsidebar h2,cite
{
  text-decoration:none;
}

.entry ol li,#rightsidebar ul,#rightsidebar ul ol
{
  margin:0;
  padding:0;
}

.entry form,.center
{
  text-align:center;
}

.error_red
{
  /*border: 1px solid #FBC2C4;*/
  color: #8A1F11;
  margin:0 auto;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 2px 2px 2px 2px;
  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;*/
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.error_red
{
  background-color: #FDDFDE;
}

.settings
{
	width: 100%;
}

.tdcaption
{
	border: 1px solid grey;
	background-color: #BBB;
	text-align:center;
	font-weight: bold;
	font-size: 14px;
}

.tbhead
{
    background-color: #CCC;
}

fieldset
{
    background:#FFFFFF none repeat scroll 0% 50%;
    border:1px solid #ccc;
    margin:0pt 0pt 5px;
    padding:10px 0px 10px 10px;
}

fieldset li, ol
{
  padding-bottom: 3px;
}

fieldset legend
{
    font-weight:bold;

}

.formular
{
  list-style-image:none;
  list-style-type:none;
  margin-bottom:5px;
}

.formularleft
{
 float: left;
 text-align: right;
 width: 40%;
 margin-right: 2%;
 padding-top: 2px;
}

.formularright
{
 margin-left : 2%;
}

.col1
{
    text-align: center;
}

.col2
{
    text-align: center;
}


.row1
{
    background-color: #EEEEEE;
}

.row2
{
    background-color: #DDDDDD;
}

/** Tooltip */

.tip-yellowsimple {
	z-index:1000;
	text-align:left;
	border:1px solid #c7bf93;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 8px;
	min-width:50px;
	max-width:300px;
	color:#000;
	background-color:#fff9c9;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-yellowsimple .tip-inner {
	font:12px/16px arial,helvetica,sans-serif;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellowsimple .tip-arrow-top {
	margin-top:-6px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-yellowsimple_arrows.gif) no-repeat;
}
.tip-yellowsimple .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	background:url(tip-yellowsimple_arrows.gif) no-repeat -9px 0;
}
.tip-yellowsimple .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-yellowsimple_arrows.gif) no-repeat -18px 0;
}
.tip-yellowsimple .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url(tip-yellowsimple_arrows.gif) no-repeat -27px 0;
}