<h2>Dynamic Tree Builder - Help</h2>
<div class="hr"></div>
<p>
    <div id="contents">1.1 <a href="#dynamictree-1-0">Dynamic Tree Builder - edit</a>
        <div>1.2 <a href="#dynamictree-1-1">Generate Menu - save</a></div>
        <div>1.3 <a href="#dynamictree-1-2">Restore Menu - load</a></div>
    </div>

    <p>
        <dl>
            <dt>1.1 Dynamic Tree Builder - edit<a name="dynamictree-1-0"></a></dt>
            <dd>
                <br />
                Click on the "+" or "-" near the folder icon to expand/collapse current node.<br />
                Click on the node name to select an element.<br />
                To perform an action using icons below the tree, first you have to select an element.<br />
                When you have selected an element, click Action "Info" to see it's details.
                <br /><br />
                <u>Actions:</u><br /><br />
                <em>Move Up</em>, <em>Move Down</em> - move the node up or down.<br />
                <em>Move Left</em> - move above current node's parent.<br />
                <em>Move Right</em> - move inside folder that is below current node.<br />
                <em>Insert</em> - insert before, after or inside current node.<br />
                <em>Info</em> - view details, update data.<br />
                <em>Delete</em> - remove doc or folder (must be empty).<br />
                <em>Update</em> - view details: update the elements details.<br />
                <em>Cancel</em> - view details: cancel the details view.
                <br /><br />
            </dd>
            <dt>1.2 Generate Menu - save<a name="dynamictree-1-1"></a></dt>
            <dd>
                <br />
                The Generation of the Menu is a two step action:<br />
                When you are done editing, you have to <br />
                (a) Generate your Menu and then <br />
                (b) Update in your database!
                <br /><br />
             </dd>
            <dt>1.3 Restore Menu - load<a name="dynamictree-1-1"></a></dt>
            <dd>
                <br />
                To restore the prior version of the adminmenu click on the "Restore last Menu" Button!
            </dd>
        </dl>
    </p>
</p>