/* Error Messages */
.error_red, .error_orange, .error_beige {
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #333;
}
.error_red legend, .error_orange legend, .error_beige legend {
	padding: 2px 15px;
	background: #fff;
	border: 1px solid #333;
	font-weight: bold;
	opacity: 0.75;
}
.error_red {
	background: #af0000;
}
.error_orange {
	background: #f90;
}
.error_beige {
	background: #ffc;
}