/*
    Document   : error.css
    Description: CSS for Clansuite Error Messages and Exception Screens

    Created on : 11.05.2009 17:23
    Author     : vain@clansuite.com
    Version    : SVN: $Id$

    Syntax recommendation http://www.w3.org/TR/REC-CSS2
    CSSTidy 1.3: Sat, 22 May 2010 16:05:09 -0700
*/

body {
    color:#000000;
    font-family: tahoma,verdana,arial,sans-serif;
    font-size:12px;
}

table {
    color: #222222;
    font-size:12px;
}

.alert {
    background:url(../images/icons/error.png) no-repeat 15px 50% #fff6bf;
    border-bottom:2px solid #ffd324;
    border-top:2px solid #ffd324;
    padding:5px 20px 5px 45px;
    text-align:left
}

.create_helpbox {
    background:url(../images/icons/page_edit.png) no-repeat 15px 50% #DFD;
    border:1px solid #BFB;
    color:#0B0;
    font-weight:700;
    margin:.5em 15px 1em -20px;
    padding:15px 20px 15px 50px;
}

.success {
    background:url(../images/icons/information.png) no-repeat 15px 50% #DFD;
    border:1px solid #BFB;
    color:#0B0;
    font-weight:700;
    margin:.5em 15px 1em 0px;
    padding:15px 20px 15px 50px;
    font-variant: small-caps;
}

.error {
    background:url(../images/icons/error.png) no-repeat 15px 50% #FDD;
    border:1px solid #FBB;
    color:#B00;
    margin:.5em 15px 1em 0;
    padding:15px 20px 15px 50px;
}

.error_helpbox {
    background:url(../images/icons/error.png) no-repeat 15px 50% #FDD;
    border:1px solid #FBB;
    color:#B00;
    font-weight:700;
    margin:.5em 15px 1em -20px;
    padding:15px 20px 15px 50px
}

.error_red {
    background:#af0000
}

.error_red legend {
    background:#fff;
    border:1px solid #333;
    font-weight:700;
    padding:2px 15px
}

.error_red {
    border:1px solid #666;
    margin:0 auto;
    padding:12px;
    width:90%
}

.info {
    background:url(../images/icons/information.png) no-repeat 15px 50% #F8FAFC;
    border-bottom:2px solid #B5D4FE;
    border-top:2px solid #B5D4FE;
    padding:5px 20px 5px 45px
}

.messagebox {
    margin:auto;
    width:50%
}

a:hover {
    color:red;
    text-decoration:underline
}

a:link,a:visited,a:active {
    text-decoration:none
}

.num {
    width: 10px;
    border-right:1px solid gray;
    color:gray;
    padding: 0.6em;
    text-align:right;
    font-family:monospace;
    font-size:14px;
    line-height: 1.3em;
    margin-top: 0 !important;
}

code {
    white-space: nowrap;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.3em;
}

pre {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.3em;
    overflow: auto;
    padding: 0.7em !important;
    margin-top: 0 !important;
}

pre h3:before,pre h3 {
    background:#FF8;
    content:"»";
    padding:5px
}

/*
   cs-backtrace-table

   keep this style equal to "xdebug superglobals" and "xdebug fatal error" table
   of xdebug.core.php
*/

table.cs-backtrace-table {
    background: none repeat scroll 0 0 #FFFFCC;
    border-collapse: collapse;
    border-color: #BF0000;
    border-style: outset;
    border-width: 1px;
    color: #222222;
    font: 12px tahoma,verdana,arial,sans-serif;
    margin-bottom: 8px;
    margin-top: 5px;
    width: 100%;
}

table.cs-backtrace-table th {
    background: none repeat scroll 0 0 #E03937;
    border: 1px inset #BF0000;
    font-weight: bold;
    padding: 3px;
}

table.cs-backtrace-table td {
    background: none repeat scroll 0 0 #FFFFCC;
    border: 1px solid grey;
    padding: 2px 2px 2px 5px;
    vertical-align: top;
}

table.cs-backtrace-table tr:hover td {
    background: #ffff88;
}