/*
    Document   : error.css
    Description: CSS for Clansuite Error Messages and Exception Screens

    Created on : 11.05.2009 17:23
    Author     : vain@clansuite.com
    Version    : SVN: $Id$

    Syntax recommendation http://www.w3.org/TR/REC-CSS2
    CSSTidy 1.3: Sat, 22 May 2010 16:05:09 -0700
*/

body {
    color:#000000;
    font-family: tahoma,verdana,arial,sans-serif;
    font-size:12px;
}

table {
    color: #222222;
    font-size:12px;
}

.panel {
    background: none repeat scroll 0 0 #FFFFAA; /* #FFFFAA or #FDF599 */
    border: 1px solid #E03937;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px gray;
    margin-bottom: 10px;
    padding: 0 15px 15px 15px;
}

.panel h3 {
    border-bottom: 1px dotted #E03937;
    padding-bottom: 0.6em;
    width: 33%;
}

.panel .small {
    font-weight: normal;
}

.btn {
    background-color: #fffbbb;
    background-image: -moz-linear-gradient(center top , #FFFBBB, #FFFBBB 25%, #FFFFCC);
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    line-height: 8px;
    padding: 4px 10px;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.btn:hover {
    -moz-transition: background-position 0.1s linear 0s;
    background-color: #FFFAAA;
    border-color: #999999;
    background-position: 0 -15px;
    color: black;
    text-decoration: none;
}

.alert {
    background:url(../images/icons/error.png) no-repeat 15px 50% #fff6bf;
    border-bottom:2px solid #ffd324;
    border-top:2px solid #ffd324;
    padding:5px 20px 5px 45px;
    text-align:left
}

.create_helpbox {
    background:url(../images/icons/page_edit.png) no-repeat 15px 50% #DFD;
    border:1px solid #BFB;
    color:#0B0;
    font-weight:700;
    margin:.5em 15px 1em -20px;
    padding:15px 20px 15px 50px;
}

.success {
    background:url(../images/icons/information.png) no-repeat 15px 50% #DFD;
    border:1px solid #BFB;
    color:#0B0;
    font-weight:700;
    margin:.5em 15px 1em 0px;
    padding:15px 20px 15px 50px;
    font-variant: small-caps;
}

.error {
    background:url(../images/icons/error.png) no-repeat 15px 50% #FDD;
    border:1px solid #FBB;
    color:#B00;
    margin:.5em 15px 1em 0;
    padding:15px 20px 15px 50px;
}

.error_helpbox {
    background:url(../images/icons/error.png) no-repeat 15px 50% #FDD;
    border:1px solid #FBB;
    color:#B00;
    font-weight:700;
    margin:.5em 15px 1em -20px;
    padding:15px 20px 15px 50px
}

.error_yellow {
    background: #ffc;
}

.error_red {
    background: #ffc;
}

.error_red legend, .error_yellow legend {
    background:#fff;
    border:1px solid #333;
    font-weight:700;
    padding:2px 15px
}

.error_red, .error_yellow {
    border:1px solid #888;
    margin:0 auto;
    padding:12px;
    width:90%
}

.info {
    background:url(../images/icons/information.png) no-repeat 15px 50% #F8FAFC;
    border-bottom:2px solid #B5D4FE;
    border-top:2px solid #B5D4FE;
    padding:5px 20px 5px 45px
}

/* Errorhandler | getErrorContext() */
.error-line {
    background-color: #BF0000;
    color: white;
    left: 19px;
    padding: 1px 3px;
    position: relative;
}

.error-triangle {
   position: relative;
   left: 20px;
   top: 2px;
   color: #BF0000;
   font-size: x-large;
}

.messagebox {
    margin:auto;
    width:50%
}

a:hover {
    color:red;
    text-decoration:underline
}

a:link,a:visited,a:active {
    text-decoration:none
}

.num {
    width: 10px;
    border-right:1px solid gray;
    color:gray;
    padding: 0.6em;
    text-align:right;
    font-family:monospace;
    font-size:14px;
    line-height: 1.3em;
    margin-top: 0 !important;
}

code {
    white-space: nowrap;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.3em;
}

pre {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.3em;
    overflow: auto;
    padding: 0.7em !important;
    margin-top: 0 !important;
}

pre h3:before,pre h3 {
    background:#FF8;
    content:"»";
    padding:5px
}

/*
   cs-backtrace-table

   keep this style equal to "xdebug superglobals" and "xdebug fatal error" table
   of xdebug.core.php
*/

table.cs-backtrace-table {
    background: none repeat scroll 0 0 #FFFFCC;
    border-collapse: collapse;
    border-color: #BF0000;
    border-style: outset;
    border-width: 1px;
    color: #222222;
    font: 12px tahoma,verdana,arial,sans-serif;
    margin-bottom: 8px;
    margin-top: 5px;
    width: 100%;
}

table.cs-backtrace-table th {
    background: none repeat scroll 0 0 #E03937;
    border: 1px inset #BF0000;
    font-weight: bold;
    padding: 3px;
    text-align: left;
    line-height: 1.5em;
}

table.cs-backtrace-table td {
    background: none repeat scroll 0 0 #FFFFCC;
    border: 1px solid grey;
    padding: 2px 2px 2px 5px;
    vertical-align: top;
}

table.cs-backtrace-table tr:hover td {
    background: #ffff88;
}