/*
    Document   : error.css
    Description: CSS for Clansuite Error Messages and Exception Screens

    Created on : 11.05.2009 17:23
    Author     : vain@clansuite.com
    Version    : SVN: $Id$

    Syntax recommendation http://www.w3.org/TR/REC-CSS2

*/
.error_red, .error_orange, .error_beige {
    border:1px solid #666;
    margin:0 auto;
    padding:12px;
    width:90%;
}

.error_red legend, .error_orange legend, .error_beige legend {
    background:#fff;
    border:1px solid #333;
    font-weight:700;
    padding:2px 15px;
}

.error_red {
    background:#af0000;
}

.error_orange {
    background:#f90;
}

.error_beige {
    background:#ffc;
}

.messagebox {
    padding:5px;
    width:50%;
    margin: auto;
}

.alert {
	background: #fff6bf url(http://www.clansuite-dev.com/themes/core/images/icons/error.png) center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
}

.info {
    background: url(http://www.clansuite-dev.com/themes/core/images/icons/information.png) no-repeat scroll 15px 50% #F8FAFC;
    border-bottom:2px solid #B5D4FE;
    border-top:2px solid #B5D4FE;
    padding:5px 20px 5px 45px;
}

.error {
    background:#FFDDDD url(http://www.clansuite-dev.com/themes/core/images/icons/error.png) no-repeat scroll 15px 12px;
    background-position: 15px 50%; /* x-pos y-pos */
    border:1px solid #FFBBBB;
    color:#BB0000;
    margin:0.5em 15px 1em 0px;
    padding:15px 20px 15px 50px;
}

/* this defines the look of the red error box, for example: when an template is missing */
.error_helpbox {
    background:#FFDDDD url(http://www.clansuite-dev.com/themes/core/images/icons/error.png) no-repeat scroll 15px 12px;
    background-position: 15px 50%; /* x-pos y-pos */
    border:1px solid #FFBBBB;
    color:#BB0000;
    font-weight:bold;
    margin:0.5em 15px 1em -20px;
    padding:15px 20px 15px 50px;
}

/* this defines the look of box, providing the link to the editor, if an template is missing */
.create_helpbox {
    background:#DDFFDD url(http://www.clansuite-dev.com/themes/core/images/icons/page_edit.png) no-repeat scroll 15px 12px;
    background-position: 15px 50%; /* x-pos y-pos */
    border:1px solid #BBFFBB;
    color:#00BB00;
    font-weight:bold;
    margin:0.5em 15px 1em -20px;
    padding:15px 20px 15px 50px;
}

/*body {
    -moz-border-radius: 12px;
    border-radius: 12px
    background: #fff;
    color: #333;
    font: 11px arial, verdana, tahoma, sans-serif;
    width: 1280px;
    margin: 2em auto 0 auto;
    padding: 1em 2em;
}*/

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: #FF0000; }


/* used by errorhandler.core.php->getErrorContext() */
.num {
  float: left;
  color: gray;
  font-size: 13px;
  font-family: monospace;
  text-align: right;
  margin-right: 6pt;
  padding-right: 6pt;
  border-right: 1px solid gray;
}

td {
  vertical-align: top;
}

code {
  white-space: nowrap;
}