@charset "utf-8";
/* CSS for Clansuite Forms */

/* choose one */
/* @import url("clansuite_buttons.css"); import clansuite button styles */
@import url("ui_buttons.css"); /* import jquery ui button style */

form
{
  clear:both;
  font-family:Arial, Verdana;
  font-size:12px;
  color:#000;
  margin:10px;
}

fieldset
{
  margin-bottom:10px;
  border:1px solid #666;
  padding:10px;
}

legend
{
  padding:0 5px;
}

div.notice
{
  border:1px solid #Fc7;
  background-color:#FCF9D8;
  padding:10px;
}

.formline
{
  clear:both;
  padding:0 0 8px;
}

div.formline div.forminside
{
  margin-left:200px;
}

label
{
  float:left;
  min-width:200px;
  height: 40px;
}

span.formdescription
{
  font-size:11px;
  color:#666;
  float: left;
}

span.value
{
  font-size:11px;
  margin-left:5px;
}

input[type=radio],input[type=checkbox]
{
  float:left;
}

input[type=password],select,input[type=text]
{
  width:255px;
}

textarea
{
  width:100%;
}

input[type=text],input[type=password],input.text,input.title,textarea,select
{
  background-color:#fff;
  border:1px solid #bbb;
}

input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus,select:focus
{
  background-color:#f4f4f3;
  border-color:#000;
}

label em,.formbutton
{
  float:right;
}

.markItUp
{
    float: left;
}