@charset "utf-8";
/* form.css for styling the formelements */

.formline
{
	border-bottom:1px solid #cdcdcd;
	padding:5px;
	clear:both;
}

/* nicedit workaround-fix for positioning the divs right */
.formline div[style="border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); border-width: 0pt 1px 1px; width: 899px; overflow-y: auto; overflow-x: hidden; max-height: 600px;"]
{
	margin-left:150px;
}

/* fix for hiding the labels of the buttons */
.formbutton label
{
	display:none;
}

label
{
	float:left;
	text-align:left;
	width:140px;
	margin-right:10px;
}

label em
{
	float:right;
}

.formdescription
{
	padding:0;
	margin:0;
	width:404px;
	margin-left:150px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#999999;
}

span.formvalue
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	margin-bottom:2px;
}

form input, form textarea, form select
{
	margin:0;
	padding:0;
	
}

input[type="text"]
{
	width:400px;
}

textarea
{

	height:150px;
}

input[type="checkbox"]
{
}

input[type="radio"]
{
}

select[type="list"]
{
}

input[type="file"]
{
	size:100;
}

.submit
{
	float:right;
}

.reset
{
	float:left;
}

