@charset "utf-8";
/* CSS for Clansuite Forms */

/* choose one */
/* @import url("clansuite_buttons.css"); import clansuite button styles */
@import url("ui_buttons.css"); /* import jquery ui button style */

.Form
{
  clear:both;
  font-family:Arial, Verdana;
  font-size:12px;
  color:#000;
  margin:10px;
}

fieldset
{
  margin-bottom:10px;
  border:1px solid #666;
  padding:10px;
}

legend
{
  padding:0 5px;
}

div.notice
{
  border:1px solid #Fc7;
  background-color:#FCF9D8;
  padding:10px;
}

.Form .Formline
{
  clear:both;
  padding:0 0 8px;
}

.Form .Formline,
.Form .Formline label
{
  height: 30px;
}

.Form .Formline .Forminside
{
  margin-left:200px;
}

.Form .Formline label
{
  float:left;
  min-width:200px;
}

.Form span.FormDescription
{
  font-size:11px;
  color:#666;
  float: left;
}

.Form span.value
{
  font-size:11px;
  margin-left:5px;
}

.Form input[type=radio],
.Form input[type=checkbox]
{
  float:left;
}

.Form input[type=password],
.Form select,input[type=text]
{
  width:255px;
}

.Form textarea
{
  width:100%;
}

.Form input[type=text],
.Form input[type=password],
.Form input.text,
.Form input.title,
.Form textarea,
.Form select
{
  background-color:#fff;
  border:1px solid #bbb;
}

.Form input[type=text]:focus,
.Form input[type=password]:focus,
.Form input.text:focus,
.Form input.title:focus,
.Form textarea:focus,
.Form select:focus
{
  background-color:#f4f4f3;
  border-color:#000;
}

.Form label em,
.Form .formbutton
{
  float:right;
}

.Form .ActionButton
{
    float: left;
}

.Form .markItUp
{
    float: left;
}