@charset "utf-8";
/* CSS for Clansuite Forms */

/* choose one */
/* @import url("clansuite_buttons.css"); import clansuite button styles */
@import url("ui_buttons.css"); /* import jquery ui button style */

.form {
clear:both;
color:#000;
font-family:Arial, Verdana;
font-size:12px;
margin:10px;
}

fieldset {
    border: 1px solid;
    border-color: #FFFFFF #ACA899 #ACA899 #FFFFFF;
    margin-bottom: 10px;
    padding: 10px;
}

legend {
padding:0 5px;
}

div.notice {
background:#FCF9D8;
border:1px solid #Fc7;
padding:10px;
}

.form .formline {
clear:both;
padding-bottom:5px;
padding-top:5px;
}

.form .formline,.form .formline label {
min-height:30px;
}

.form .formline .forminside {
margin-left:200px;
}

.form .formline label {
float:left;
min-width:150px;
}

.form span.formdescription {
color:#666;
float:left;
font-size:11px;
}

.form span.value {
font-size:11px;
margin-left:5px;
}

.form .formline input[type=password],.form .formline select,.form .formline input[type=text] {
width:255px;
}

.form .formline textarea {
width:100%;
}

.form label em,.form .formbutton {
float:right;
}

.form .formline .markitup {
float:left;
margin-bottom:5px;
}

.form .formline .markitup textarea {
width:auto;
}

.form .buttonbar {
margin-left:150px;
}

.form .formline input[type=radio],.form .formline input[type=checkbox],.form .actionbutton {
float:left;
}