@charset "UTF-8";

@media all
{

    a:link, body_alink
    {
        color: #F48021;
        text-decoration: none;
    }
    a:visited, body_avisited
    {
        color: #F48021;
        text-decoration: none;
    }
    a:hover, a:active, body_ahover
    {
        color: #c0c0c0;
        text-decoration: underline;
    }


    td, th, p, li
    {
        font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    }


    .error
    {
        color: red;
        font-weight: bold;
        text-align: center;
    }


    .input_text
    {
        border: 1px solid black;
        height: 13px;
        font-family: tahoma, verdana, arial, sans-serif;
        font-size: 11px;
    }


    /** 
     * -----------------------------------------------------------------------------------------------
     * Wysiwyg
     * -----------------------------------------------------------------------------------------------
     */
    .wysiwyg
    {
        background: #333333;
        color: #999999;
        font: 10pt "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
        margin: 5px 10px 10px 10px;
        padding: 0px;
    }
    .wysiwyg a:link, .wysiwyg_alink
    {
        color: #444444;
    }
    .wysiwyg a:visited, .wysiwyg_avisited
    {
        color: #444444;
    }
    .wysiwyg a:hover, .wysiwyg a:active, .wysiwyg_ahover
    {
        color: #444444;
    }


    /** 
     * -----------------------------------------------------------------------------------------------
     * Forms
     * -----------------------------------------------------------------------------------------------
     */


}