@charset "UTF-8";

@media all
{

    body
    {
        background: #232323;
        color: #c0c0c0;
        font: 10pt "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
        margin: 0 5px 0 0;
        padding: 0 5px 0 0;
        background-image: url('../../images/site/bodybg.gif');
    }

    html { padding: 0 0 25px 0;  /* create area for ajax notification area */}

    /** 
     * -----------------------------------------------------------------------------------------------
     * Global Container
     * -----------------------------------------------------------------------------------------------
     */
    /* Randbereiche & Seitenhintergrund */
    #pagepane { margin: 0 10px 0 0;width: 99%; vertical-align: left; }
    #pageaera { color: #c0c0c0; margin:10px;}

    /*  Container: Header  */
    #header
    {
        margin-bottom:8px; 
    }

    /*  Container: Main  */
    #main
    {
        width: auto; 
        background: transparent;
        margin:0px;
    }

    /*  Container: Footer  */
    #footer
    {
        margin:10px;
    }

    /** 
     * -----------------------------------------------------------------------------------------------
     * Table Border (tborder)
     * -----------------------------------------------------------------------------------------------
     */
    .tborder {
        background: #444444;
        color: #c0c0c0;
    }


    /** 
     * -----------------------------------------------------------------------------------------------
     * Tabellen Header (thead)
     * -----------------------------------------------------------------------------------------------
     */
    .thead
    {
        background: #141414;
        color: #c0c0c0;
        font: normal 10px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    }
    .thead a:link, .thead_alink
    {
        color: #F48021;
        text-decoration: none;
    }
    .thead a:visited, .thead_avisited
    {
        color: #F48021;
        text-decoration: none;
    }
    .thead a:hover, .thead a:active, .thead_ahover
    {
        color: #c0c0c0;
        text-decoration: none;
    }

    /** 
     * -----------------------------------------------------------------------------------------------
     * Tabellen Footer (tfoot)
     * -----------------------------------------------------------------------------------------------
     */
    .tfoot
    {
        background: #141414;
        color: #c0c0c0;
        font: 10px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    }
    .tfoot a:link, .tfoot_alink
    {
        color: #F48021;
        text-decoration: none;
    }
    .tfoot a:visited, .tfoot_avisited
    {
        color: #F48021;
        text-decoration: none;
    }
    .tfoot a:hover, .tfoot a:active, .tfoot_ahover
    {
        color: #c0c0c0;
        text-decoration: none;
    }

    /** 
    * -----------------------------------------------------------------------------------------------
    * Tabellen Box (tbox)
    * -----------------------------------------------------------------------------------------------
    */
    .tbox {
        background: #444444;
        color: #c0c0c0;
    }

    /* ------- Box title ------- */
    .tbox_title
    {
        background: #090909;
        color: #c0c0c0;
        font: bold 10pt Verdana, Helvetica, Arial, sans-serif;;
    }
    .tbox_title a:link,
    .tbox_title_alink
    {
        color: #c0c0c0;
        text-decoration: none;
    }
    .tbox_title a:visited,
    .tbox_title_avisited
    {
        color: #c0c0c0;
        text-decoration: none;
    }
    .tbox_title a:hover,
    .tbox_title a:active,
    .tbox_title_ahover
    {
        color: #c0c0c0;
        text-decoration: none;
    }

    /* ------- Box cell 1 ------- */
    .tbox_cell1,
    .tbox_cell1Active
    {
        background: #232323;
        color: #cbcbcb;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        font-size:9pp;
    }
    .tbox_cell1 a:link,
    .tbox_cell1_alink,
    .tbox_cell1Active a:link,
    .tbox_cell1Active_alink
    {
        color: #F48021;
        text-decoration: none;
    }
    .tbox_cell1 a:visited,
    .tbox_cell1_avisited,
    .tbox_cell1Active a:visited,
    .tbox_cell1Active_avisited
    {
        color: #F48021;
        text-decoration: none;
    }
    .tbox_cell1 a:hover, 
    .tbox_cell1 a:active, 
    .tbox_cell1_ahover,
    .tbox_cell1Active a:hover,
    .tbox_cell1Active a:active,
    .tbox_cell1Active_ahover
    {
        color: #c0c0c0;
        text-decoration: underline;
    }

    /* ------- Box cell 2 ------- */
    .tbox_cell2,
    .tbox_cell2Active
    {
        background: #141414;
        color: #cbcbcb;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        font-size:12px;
    }
    .tbox_cell1 a:link,
    .tbox_cell1_alink,
    .tbox_cell1Active a:link,
    .tbox_cell1Active_alink
    {
        color: #F48021;
        text-decoration: none;
    }
    .tbox_cell1 a:visited,
    .tbox_cell1_avisited,
    .tbox_cell1Active a:visited,
    .tbox_cell1Active_avisited
    {
        color: #F48021;
        text-decoration: none;
    }
    .tbox_cell1 a:hover, 
    .tbox_cell1 a:active, 
    .tbox_cell1_ahover,
    .tbox_cell1Active a:hover,
    .tbox_cell1Active a:active,
    .tbox_cell1Active_ahover
    {
        color: #c0c0c0;
        text-decoration: underline;
    }


    /** 
     * -----------------------------------------------------------------------------------------------
     * Navigation -Breadcrumbs
     * -----------------------------------------------------------------------------------------------
     */
    #breadcrumbs
    {
        width: 100%;
        border: 1px solid #444444;
        font: 10pt "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
        padding: 4px 10px 4px 10px;
        margin-bottom: 10px;
        background: #090909;
    }

    /** 
     * -----------------------------------------------------------------------------------------------
     * Navigation (tnav)
     * -----------------------------------------------------------------------------------------------
     */


    /** 
     * -----------------------------------------------------------------------------------------------
     * Widgets
     * -----------------------------------------------------------------------------------------------
     */
    .widget
    {
        width: 95%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding-bottom: 5px;
    }

    #all_widgets
    {
        width: 80px;
        height: 16px;
        background-color: #666;
        border: 1px solid black;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px;
        padding-left: 10px;
        overflow: hidden;
    }

    #all_widgets_handle
    {
        color: white;
        cursor: pointer;
    }

    #widget_save_bar
    {
        width: 100%;
        height: 25px;
        background-color: #666;
        border: 1px solid black;
        position: fixed;
        bottom: 0;
        left: 0;
        overflow: hidden;
        text-align: center;
    }


}